#{erros}#{/erros}
#{form @ControlesGabinete.salvar(), enctype:'multipart/form-data',id:'formGabinete' }
	<div class="gt-content-box gt-form"> 
	<input type="hidden" name="controleGabinete.id" value="${controleGabinete.id}" />
	<div class="clearfix">
		<div class="coluna margemDireitaG">
	       	<label for= "controleGabinete.veiculo.id" class= "obrigatorio">Veículo:</label>
	        #{select 'controleGabinete.veiculo.id', 
					items:veiculos, 
					labelProperty:'dadosParaExibicao', 
					value:controleGabinete.veiculo?.id}
					#{/select}
	       	<label for= "controleGabinete.condutor.id" class= "obrigatorio">Condutor:</label>
	        #{select 'controleGabinete.condutor.id', 
					items:condutores, 
					labelProperty:'dadosParaExibicao', 
					value:controleGabinete.condutor?.id}
					#{/select}
		</div>
		<div class="coluna margemDireitaG">
	       	<label for="controleGabinete.dataHoraSaida" class= "obrigatorio">Data e Hora Sa&iacute;da:</label>
	    	<input type="text" name="controleGabinete.dataHoraSaida" value="${controleGabinete.dataHoraSaida?.format('dd/MM/yyyy HH:mm')}" size="16" class="dataHora" />
	       	<label for="controleGabinete.odometroEmKmSaida" class= "obrigatorio">Od&ocirc;metro Sa&iacute;da (Km)</label>
	       	<input type="text" name="controleGabinete.odometroEmKmSaida" value="${controleGabinete.odometroEmKmSaida}" class="valor_numerico decimal"/>
		</div>
		<div class="coluna">
	       	<label for="controleGabinete.dataHoraRetorno" class= "obrigatorio">Data e Hora Retorno:</label>
	    	<input type="text" name="controleGabinete.dataHoraRetorno" value="${controleGabinete.dataHoraRetorno?.format('dd/MM/yyyy HH:mm')}" size="16" class="dataHora" />
	       	<label for="controleGabinete.odometroEmKmRetorno" class= "obrigatorio">Od&ocirc;metro Retorno (Km)</label>
	       	<input type="text" name="controleGabinete.odometroEmKmRetorno" value="${controleGabinete.odometroEmKmRetorno}" class="valor_numerico decimal"/>
		</div>
	</div>
	<label for="controleGabinete.naturezaDoServico" class= "obrigatorio">Natureza do servi&ccedil;o: </label>
	<textarea name="controleGabinete.naturezaDoServico" rows="6" cols="230">${controleGabinete.naturezaDoServico}</textarea>       
	<label for="controleGabinete.itinerario" class= "obrigatorio">Itiner&aacute;rio: </label>
	<textarea name="controleGabinete.itinerario" rows="6" cols="230">${controleGabinete.itinerario}</textarea>       
	<label for="controleGabinete.ocorrencias">Ocorr&ecirc;ncias: </label>
	<textarea name="controleGabinete.ocorrencias" rows="6" cols="230">${controleGabinete.ocorrencias}</textarea>       
	</div>
	<span class="alerta menor">&{'views.erro.preenchimentoObrigatorio'}</span>
	<div class="gt-table-buttons">
		<input type="submit" value="&{'views.botoes.salvar'}" class="gt-btn-medium gt-btn-left" />
		<input type="button" value="&{'views.botoes.cancelar'}" onClick="javascript:location.href='@{ControlesGabinete.listar()}'" class="gt-btn-medium gt-btn-left" />
	</div>
#{/form}