#{extends 'main.html' /}

#{set title:'SIGA::Transportes' /}

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<h2>Controles do Gabinete</h2>

#{if controlesGabinete.size()>0}
		<div class="gt-content-box gt-for-table">     
		 	<table id="htmlgrid" class="gt-table" >
		 		<thead>
		    	<tr>
		    	    <th>Data e Hora Sa&iacute;da</th>
			   		<th>Od&ocirc;metro Sa&iacute;da (Km)</th>
			   		<th>Data e Hora Retorno</th>
			   		<th>Od&ocirc;metro Retorno (Km)</th>
			   		<th>Agente</th>
			   		<th width="5%"></th>
			   		<th width="5%"></th>
				</tr>
				</thead>
				<tbody>
#{list controlesGabinete, as:'controleGabinete'}				
			   	<tr>
		    	    <td>${controleGabinete.dataHoraSaida.time.format('dd/MM/yyyy HH:mm')}</td>
		    		<td>${controleGabinete.odometroEmKmSaida}</td>
		    		<td>${controleGabinete.dataHoraRetorno.time.format('dd/MM/yyyy HH:mm')}</td>
		    		<td>${controleGabinete.odometroEmKmRetorno}</td>
		    		<td>${controleGabinete.condutor.getDadosParaExibicao()}</td>
		    		<td><a href="@{ControlesGabinete.editar(controleGabinete.id)}">Editar</a></td>
		    		<td><a onclick="javascript:return confirm('Tem certeza de que deseja excluir este controle?');" href="@{ControlesGabinete.excluir(controleGabinete.id)}">Excluir</a></td>
				</tr>
#{/list} 
			 </tbody>				
		     </table>
		     		    <div id="pagination"/>   
		</div>
#{/if}
#{else}
<br/><h3>N&atilde;o existem controles cadastrados.</h3>
#{/else}
<div class="gt-table-buttons">
	<a href="@{ControlesGabinete.incluir()}" class="gt-btn-medium gt-btn-left">&{'views.botoes.incluir'}</a>
</div>
	</div>
</div>





