<script src="@{'/public/javascripts/jquery/jquery-ui-1.8.16.custom.min.js'}"></script>
#{erros}#{/erros}
#{if mostrarMenu}
#{include 'ServicosVeiculo/menuServicoVeiculo.html' /}
#{/if}
<br />
		<input type="hidden" id="servicoId" name="servico.id" value="${servico.id}" />

	<h3>Informa&ccedil;&otilde;es B&aacute;sicas</h3>
	<div id ="infbasicas" class="gt-content-box gt-for-table">     
	 	<table id="htmlgridInformacoesBasicas" class="gt-table" >
	 		<tr>
	        	<th width="14%">Estado:</span></th>
	        	<td>${servico.situacaoServico}</td>
	        </tr>

		    #{if servico.situacaoServico.equals("INICIADO") ||  
		    	servico.situacaoServico.equals("REALIZADO")}
	 		<tr>
	        	<th width="14%">Data Hora Início:</span></th>
	        	<td>${servico.dataHoraInicio?.format('dd/MM/yyyy HH:mm')}</td>
	        </tr>
		    #{/if}

		    #{if servico.situacaoServico.equals("REALIZADO")}
	 		<tr>
	        	<th width="14%">Data Hora Fim:</span></th>
	        	<td>${servico.dataHoraFim?.format('dd/MM/yyyy HH:mm')}</td>
	        </tr>
		    #{/if}
	        
      		<tr>
	        	<th width="14%">Tipo de Servi&ccedil;o:</span></th>
	        	<td>${servico.tiposDeServico}</td>
	        </tr>
	        
      		<tr>
	        	<th width="14%">Ve&iacute;culo:</span></th>
	        	<td>
	   	    	#{tp.tags.link servico.veiculo.dadosParaExibicao,
    		  	 			   parteTextoLink: servico.veiculo.dadosParaExibicao,
    						   comando: @Veiculos.buscarPeloId(servico.veiculo.id)}
    			#{/tp.tags.link}
    			</td>
	        </tr>

		    #{if servico.requisicaoTransporte != null}
            <tr>
	        	<th width="14%">Requisi&ccedil;&atilde;o Transporte:</span></th>
				<td>
	   	    	#{tp.tags.link servico.requisicaoTransporte.sequence,
    		  	 			   parteTextoLink: servico.requisicaoTransporte.sequence,
    						   comando: @Requisicoes.buscarPelaSequence(servico.requisicaoTransporte.sequence)}
    			#{/tp.tags.link}
				</td>
			</tr>
			#{/if}

		    #{if servico.situacaoServico.equals("CANCELADO")}
		    <tr>
		    	<th width="14%">Motivo do Cancelamento:</span></th>
		    	<td>${servico?.motivoCancelamento}</td>
		    </tr>
		    #{/if}

		</table> 
	</div>
	<br>
