	   	<p class="gt-table-action-list">
	   		#{if menuServicoVeiculoEditar} <a class="once"
				href="@{ServicosVeiculo.editar(servico.id)}"> <img
				src="/sigatp/public/images/editaricon.png"
				style="margin-right: 5px;">Editar Servi&ccedil;o de Ve&iacute;culo</a>&nbsp;&nbsp;&nbsp;
			#{/if}
	   		#{if menuServicoVeiculoExcluir} <a class="once"
				href="@{ServicosVeiculo.excluir(servico.id)}"> <img
				src="/sigatp/public/images/canceledicon.png"
				style="margin-right: 5px;">Excluir</a>&nbsp;&nbsp;&nbsp;
			#{/if}
	   		<a class="once" href="@{ServicosVeiculo.listarFiltrado(servico.situacaoServico)}">
	   		<img src="/sigatp/public/images/linkvoltaricon.png" style="margin-right: 5px;">Voltar para a lista
	   		</a>
		</p>