target/
.idea/
*.iml
.settings/
.classpath/
.DS_Store/
.project/
.DS_Store
/tmp
/test-output
/.settings
.project
.classpath

*.class
*.bak
*.log

sigatp/WebContent/WEB-INF/classes
sigatp/test-output
sigatp/build
sigatp/bin
sigatp/lib
sigatp/modules
sigatp/precompiled
sigatp/eclipse
sigatp/tmp

siga-uteis-play-module/WebContent/WEB-INF/classes
siga-uteis-play-module/test-output
siga-uteis-play-module/build
siga-uteis-play-module/bin
siga-uteis-play-module/lib
siga-uteis-play-module/modules
siga-uteis-play-module/precompiled
siga-uteis-play-module/eclipse
siga-uteis-play-module/tmp

*.rej
*.project
sigatp/.project