#{extends 'main.html' /} #{set title:'SIGA::Transportes' /}
<script src="@{'/public/javascripts/jquery/jquery-ui-1.8.16.custom.min.js'}"></script>
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/servicoVeiculo.css'}">

<script type="text/javascript">
	$(document).ready(function() {
		$('#comboorgao').change(function () {
			var optionSelected = $(this).find("option:selected");	
		    var valueSelected = this.value;
		    var link = $("#btnPesqOrgao").attr('href');
		    var equalPosition = link.indexOf('='); //Get the position of '='
		    var hreflink = link.substring(0,equalPosition + 1);
		    hreflink = hreflink + valueSelected;
			$("#btnPesqOrgao").attr("href", hreflink);
			window.location.href = hreflink;
		});


		
	});
</script>

<form id="formulario">
	<div class="gt-bd clearfix">

		<div class="gt-content clearfix">

			<h2>Configura&ccedil;&otilde;es no GI</h2>

			<div class="gt-form clearfix">			
				<div class="coluna margemDireitaG">
					<label for="cpOrgaoUsuario.idOrgaoUsu">Org&atilde;o do usu&aacute;rio </label>
					#{select 'cpOrgaoUsuario.idOrgaoUsu',
				              id: 'comboorgao',
				              items:cpOrgaoUsuarios,
			    	          labelProperty:'nmOrgaoUsu', 
		            	      value:cpOrgaoUsuario?.idOrgaoUsu}
						#{/select} 
				</div>
				<div class="coluna gt-table-buttons">
					<a class="invisivel" id="btnPesqOrgao" href="@{ConfiguracoesGI.pesquisar(cpOrgaoUsuario.idOrgaoUsu)}" class="gt-btn-medium gt-btn-left">&{'views.botoes.buscar'}</a>
				</div>
			</div>
	
				#{if cpConfiguracoes.size()>0}
			<div class="gt-content-box gt-for-table">
				<table id="htmlgrid" class="gt-table">
					<thead>
					<tr>
						<th>Lota&ccedil;&atilde;o</th>
						<th>Matr&iacute;cula</th>
						<th>Pode/N&atilde;o Pode</th>
						<th>Tipo</th>
						<th>Sigla Servi&ccedil;o</th>
						<th>Complexo</th>
						<th width="5%"></th>
					</tr>
					</thead>
					<tbody>
					#{list cpConfiguracoes, as:'cpConfiguracao'}
					<tr>
						<td>${cpConfiguracao.lotacao?.nomeLotacao}</td>
						<td>${cpConfiguracao.dpPessoa?.nomePessoa}</td>	
						<td>${cpConfiguracao.cpSituacaoConfiguracao?.dscSitConfiguracao}</td>
						<td>${cpConfiguracao.cpTipoConfiguracao?.dscTpConfiguracao}</td>
						<td>${cpConfiguracao.cpServico?.siglaServico}</td>
						<td>${cpConfiguracao.complexo?.nomeComplexo}</td>
						<td><a href="@{ConfiguracoesGI.editar(cpConfiguracao.idConfiguracao)}">Editar</a></td>
					</tr>
					#{/list}
					</tbody>
				</table>
				<div id="pagination"/>
			</div>

			#{/if}
			#{else} <br />
			<h3>N&atilde;o existem configuracoes cadastradas.</h3>
			#{/else}

			<div class="gt-table-buttons">
				<a href="@{ConfiguracoesGI.incluir(cpOrgaoUsuario.idOrgaoUsu)}" class="gt-btn-medium gt-btn-left">&{'views.botoes.incluir'}</a>
			</div>
		</div>
	</div>	
</form>