#{extends 'main.html' /}

#{set title:'SIGA::Transportes' /}

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<h2>Rela&ccedil;&atilde;o de Fornecedores</h2>

#{if fornecedores.size()>0}
		<div class="gt-content-box gt-for-table">     
		 	<table id="htmlgrid" class="gt-table" >
		    	<thead>
		    	<tr>
		    	    <th>CNPJ</th>
			   		<th>Raz&atilde;o Social</th>
			   		<th>Telefone</th>
			   		<th>Ramo de Atividade</th>
			   		<th>Contato</th>
			   		<th width="5%"></th>
			   		<th width="5%"></th>
				</tr>
				</thead>
				<tbody>
#{list fornecedores, as:'fornecedor'}
			   	<tr>
		    	    <td>${fornecedor.cnpj}</td>
		    		<td>${fornecedor.razaoSocial}</td>
		    		<td>${fornecedor.telefone}</td>
		    		<td>${fornecedor.ramoDeAtividade?.descricao}</td>
		    		<td>${fornecedor.nomeContato}</td>
		    		<td><a href="@{Fornecedores.editar(fornecedor.id)}">Editar</a></td>
		    		<td><a href="@{Fornecedores.excluir(fornecedor.id)}" onClick="javascript:return confirm('Tem certeza de que deseja excluir este fornecedor?');" >Excluir</a></td>
				</tr>
#{/list} 
</tbody>				
		     </table>   
		     		   		    <div id="pagination"/> 
		</div>
#{/if}
<div class="gt-table-buttons">
	<a href="@{Fornecedores.incluir()}" class="gt-btn-medium gt-btn-left">&{'views.botoes.incluir'}</a>
</div>
	</div>
</div>





