#{extends 'main.html' /}

#{set title:'SIGA-Transporte' /}

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<h2>Rela&ccedil;&atilde;o de Veiculos</h2>

#{if veiculos.size() > 0}
		<div class="gt-content-box gt-for-table">     
		 	<table id="htmlgrid" class="gt-table" >
		 	<thead>
		    	<tr style="font-weight: bold;">
		    	    <th width="5%">Placa</th>
			   		<th width="5%">Ano</th>
			   		<th width="15%">Modelo</th>
			   		<th width="15%">Grupo</th>
			   		<th width="20%">Lotacao</th>
			   		<th width="10%">Situacao</th>
					<th width="5%"></th>
					<th width="5%"></th>
				</tr>
			</thead>
			<tbody>	
#{list veiculos, as:'veiculo'}
			   	<tr>	
		    	    <td>${veiculo.placa}</td>
		    		<td>${veiculo.anoFabricacao}</td>
		    		<td style="white-space: pre;">${veiculo.modelo}</td>
		    		<td style="white-space: pre;">${veiculo.grupo?.nome}</td>
		    		<td style="white-space: pre;">${veiculo.lotacoes[0]?.lotacao?.descricaoAmpliada}</td>
		    		<td style="white-space: pre;">${veiculo.situacao}</td>		    		
		    		<td><a href="@{Veiculos.editar(veiculo.id)}">Editar</a></td>
		    		<td><a onclick="javascript:return confirm('Tem certeza de que deseja excluir este veiculo ?');" href="@{Veiculos.excluir(veiculo.id)}">Excluir</a></td>
				</tr>
#{/list}
			</tbody>	
		     </table>
		     		   		    <div id="pagination"/>    
		</div>
#{/if}
<div class="gt-table-buttons">
	<a href="@{Veiculos.incluir()}" class="gt-btn-medium gt-btn-left">&{'views.botoes.incluir'}</a>
</div>
	</div>
</div>