#{extends 'main.html' /}

#{set title:'SIGA-Transporte' /}

	<script type="text/javascript">
        $(function() {

        	$('.missao').css('visibility','hidden');
			$('.bt_missao').css('display','none');

        	$('#missao_criar').click( function() {	
        		$('.bt_missao').css('display','block');
        		$('.bt_edicao').css('display','none');
        		$('.missao').css('visibility','visible');
        		$('.edicao').css('visibility','hidden');
     	   });

        	$('#missao_cancelar').click( function() {	
        		$('.bt_missao').css('display','none');
        		$('.bt_edicao').css('display','block');
        		$('.missao').css('visibility','hidden');
        		$('.edicao').css('visibility','visible');
     	   });

			$('#missao_incluir').click( function() {	
				if($('form').serialize().indexOf("req=") != -1) {
					$('form').submit();
				} else {
					alert('Por favor, selecione ao menos uma requisição.');
				}
			});

        	$('#missao_inicioRapido').click( function() {	
				if($('form').serialize().indexOf("req=") != -1) {
					var formulario = document.getElementById('formIncluirMissao');
					var destino = formulario.action;
					formulario.action = destino.replace("incluircomrequisicoes", "incluiriniciorapido"); // /sigatp/missoes/incluircomrequisicoes
					formulario.submit();
				} else {
					alert('Por favor, selecione ao menos uma requisição.');
				}
			});

       });
	</script>
	
	<style type="text/css">
	
	.status_N, .status_P, .status_A, .status_E {
		border: 2px solid;
		border-radius: 1em;
		text-transform: uppercase;
		padding: 0 .25em;
		margin-left: .2em;
		font:normal 70% verdana, arial, sans-serif;
		font-weight: 900;
		position: relative;
		top: -.2em;
	}
	.status_N {
		border-color: #FF2000;
		color: #FF2000;
	}
	.status_P {
		border-color: #33EE00;
		color: #33EE00;
	}
	.status_A {
		border-color: #33EE00;
		color: #33EE00;
	}
	.status_E {
		border-color: #FFFF00;
		color: #FFFF00;
	}
	
	</style>


<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<h2>Lista de Requisi&ccedil;&otilde;es</h2>

#{form @Missoes.incluirComRequisicoes(), id:'formIncluirMissao', enctype:'multipart/form-data'}

#{include 'Requisicoes/menuListar.html' /}

#{if requisicoesTransporte.size() > 0}
		<div class="gt-content-box gt-for-table">     
		 	<table id="htmlgrid" class="gt-table" >
		    	<thead>
		    	<tr style="font-weight: bold;">
		    		<!--  <th width="15%">Numero</th> -->
		    	    <th width="15%">Saida</th>
			   		<th width="15%">Retorno</th>
			   		<!-- <th width="15%">Passageiros</th>
			   		<th width="20%">Itinerario</th> -->
					<!-- <th width="15%">Finalidade</th> -->
			   		<th width="30%">Outros Dados</th>
			   		<th width="20%">Miss&otilde;es</th>
			   		<th width="5%"></th>
			   		<th width="5%"></th>
					<th width="5%"></th>
				</tr>
				</thead>
				<tbody>
		#{list requisicoesTransporte, as:'requisicaoTransporte'}
			   	<tr id ="row_${requisicaoTransporte.id}">	
 			   	   	<td>${requisicaoTransporte.dataHoraSaidaPrevista?.format('dd/MM/yyyy HH:mm')}</td>
		    		<td>
		    		#{if requisicaoTransporte.dataHoraRetornoPrevisto != null}
		    			${requisicaoTransporte.dataHoraRetornoPrevisto?.format('dd/MM/yyyy HH:mm')}
		    		#{/if}
		    		#{else}
		    			N&atilde;o
		    		#{/else}
		    		</td>
			   	    <td>
			   	    	#{tp.tags.link requisicaoTransporte.descricaoCompleta,
		    		  	 			   parteTextoLink: requisicaoTransporte.sequence,
		    		  	 			   ehEditavel: true,
		    						   comando: @Requisicoes.buscarPelaSequence(requisicaoTransporte.sequence, true)}
		    			#{/tp.tags.link}
					</td>
					
					<td>
					#{list requisicaoTransporte.missoesOrdenadas, as:'missao'}<nobr>${missao.sequence}<span class="status_${requisicaoTransporte.getUltimoEstadoNestaMissao(missao.id).primeiraLetra()}" alt="${requisicaoTransporte.getUltimoEstadoNestaMissao(missao.id)}" title="${requisicaoTransporte.getUltimoEstadoNestaMissao(missao.id)}">${requisicaoTransporte.getUltimoEstadoNestaMissao(missao.id).primeiraLetra()}</span> <a href="#" onclick="javascript:window.open('@{Missoes.buscarPelaSequence(missao.sequence, true)}');"><img src="/sigatp/public/images/linknovajanelaicon.png" alt="Abrir em uma nova janela" title="Abrir em uma nova janela"></a></nobr><br />#{/list}
					#{else}N&Atilde;O ALOCADA#{/else}
					</td>
		    		#{if requisicaoTransporte.podeAlterar}
			    		<td class="edicao"><a href="@{Requisicoes.editar(requisicaoTransporte.id)}">Editar</a></td>
		    		#{/if}
		    		<td class="edicao"><a onclick="javascript:return confirm('Tem certeza de que deseja excluir esta requisicao ?');" href="@{Requisicoes.excluir(requisicaoTransporte.id)}">Excluir</a></td>
		    		<td class="missao" valign="middle" colspan="2">#{if requisicaoTransporte.podeAgendar}<input type="checkbox" name="req" value="${requisicaoTransporte.id}" class="missao reqs">#{/if}</td>
				</tr>
		#{/list}
			 </tbody>
		     </table>
		     		   		    <div id="pagination"/>    
		</div>
#{/if}
#{else}
<h2>N&atilde;o existem requisi&ccedil;&otilde;es neste estado.</h2>
#{/else}

<div class="gt-table-buttons">
	<a href="@{Requisicoes.incluir()}" class="gt-btn-medium gt-btn-left bt_edicao">&{'views.botoes.incluir'}</a>
	#{if  (exibirMenuAdministrar || exibirMenuAdministrarMissao || exibirMenuAdministrarMissaoComplexo) && requisicoesTransporte.size() > 0}
	<a href="#" id="missao_criar" class="gt-btn-medium gt-btn-left bt_edicao">&{'views.botoes.criarMissao'}</a>
	<a href="#" id="missao_inicioRapido" class="gt-btn-medium gt-btn-left bt_missao">&{'views.botoes.inicioRapido'}</a>
	#{/if}
	<a href="#" id="missao_incluir" class="gt-btn-medium gt-btn-left bt_missao">&{'views.botoes.programar'}</a>
	<a href="#" id="missao_cancelar" class="gt-btn-medium gt-btn-left bt_missao">&{'views.botoes.cancelar'}</a>
</div>
#{/form}

	</div>
</div>