<link rel="stylesheet" href="@{'/public/stylesheets/andamentos.css'}" type="text/css" media="screen"/>

	   	<p class="gt-table-action-list">
	   		#{if menuRequisicoesMostrarTodas} 
	   		    <img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_T" id="menuRequisicoesAprovarMostrarTodas"
				href="@{Requisicoes.listarPAprovar()}">+</a><a href="@{Requisicoes.listarPAprovar()}">Todas</a>&nbsp;&nbsp;&nbsp;
			#{/if}
			#{if menuRequisicoesMostrarAbertas} 
				<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_B" id="menuRequisicoesAprovarMostrarAbertas"
				href="@{Requisicoes.listarPAprovarFiltrado(estadoRequisicao.ABERTA)}">B</a>
				<a href="@{Requisicoes.listarPAprovarFiltrado(estadoRequisicao.ABERTA)}">A<U>b</U>ertas</a>&nbsp;&nbsp;&nbsp;
			#{/if}
	   		#{if menuRequisicoesMostrarAutorizadas} 
	   			<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_U" id="menuRequisicoesAprovarMostrarAutorizadas"
				href="@{Requisicoes.listarPAprovarFiltrado(estadoRequisicao.AUTORIZADA)}">U</a>
				<a href="@{Requisicoes.listarPAprovarFiltrado(estadoRequisicao.AUTORIZADA)}">A<U>u</U>torizadas</a>&nbsp;&nbsp;&nbsp;
			#{/if}
	   		#{if menuRequisicoesMostrarRejeitadas} 
	   			<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_R" id="menuRequisicoesAprovarMostrarRejeitadas"
				href="@{Requisicoes.listarPAprovarFiltrado(estadoRequisicao.REJEITADA)}">R</a>
				<a href="@{Requisicoes.listarPAprovarFiltrado(estadoRequisicao.REJEITADA)}"><U>R</U>ejeitadas</a>&nbsp;&nbsp;&nbsp;	   		
			#{/if}
		</p>