<link rel="stylesheet" href="@{'/public/stylesheets/andamentos.css'}" type="text/css" media="screen"/>
	   	<p class="gt-table-action-list">
	   		#{if menuRequisicoesMostrarTodas}
	   		    <img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_T" id="menuRequisicoesMostrarTodas" 
				href="@{Requisicoes.listar()}"></a><a href="@{Requisicoes.listar()}"><U>T</U>odas</a>&nbsp;&nbsp;&nbsp;
			#{/if}
			#{if menuRequisicoesMostrarAutorizadasENaoAtendidas} 
				<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_na_A" id="menuRequisicoesMostrarAutorizadasENaoAtendidas" 
				href="@{Requisicoes.listarFiltrado(estadoRequisicao.AUTORIZADA,estadoRequisicao.NAOATENDIDA)}">AN</a>
				<a href="@{Requisicoes.listarFiltrado(estadoRequisicao.AUTORIZADA,estadoRequisicao.NAOATENDIDA)}">A<U>u</U>torizadas/<U>N</U>&atilde;o Atendidas</a>&nbsp;&nbsp;&nbsp;
			#{/if}
			#{if menuRequisicoesMostrarAbertas} 
				<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_B" id="menuRequisicoesMostrarAbertas" 
				href="@{Requisicoes.listarFiltrado(estadoRequisicao.ABERTA)}"></a>
				<a href="@{Requisicoes.listarFiltrado(estadoRequisicao.ABERTA)}">A<U>b</U>ertas</a>&nbsp;&nbsp;&nbsp;
			#{/if}
	   		#{if menuRequisicoesMostrarAutorizadas} 
	   			<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_U" id="menuRequisicoesMostrarAutorizadas" 
				href="@{Requisicoes.listarFiltrado(estadoRequisicao.AUTORIZADA)}"></a>
				<a href="@{Requisicoes.listarFiltrado(estadoRequisicao.AUTORIZADA)}">A<U>u</U>torizadas</a>&nbsp;&nbsp;&nbsp;
			#{/if}
	   		#{if menuRequisicoesMostrarRejeitadas} 
	   			<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_R" id="menuRequisicoesMostrarRejeitadas" 
				href="@{Requisicoes.listarFiltrado(estadoRequisicao.REJEITADA)}"></a>
				<a href="@{Requisicoes.listarFiltrado(estadoRequisicao.REJEITADA)}"><U>R</U>ejeitadas</a>&nbsp;&nbsp;&nbsp;	   		
			#{/if}
			#{if menuRequisicoesMostrarProgramadas} 
	   			<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_P" id="menuRequisicoesMostrarProgramadas" 
				href="@{Requisicoes.listarFiltrado(estadoRequisicao.PROGRAMADA)}"></a>
				<a href="@{Requisicoes.listarFiltrado(estadoRequisicao.PROGRAMADA)}"><U>P</U>rogramadas</a>&nbsp;&nbsp;&nbsp;			
			#{/if}
			#{if menuRequisicoesMostrarEmAtendimento} 
	   			<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_E" id=menuRequisicoesMostrarEmAtendimento 
				href="@{Requisicoes.listarFiltrado(estadoRequisicao.EMATENDIMENTO)}"></a>
				<a href="@{Requisicoes.listarFiltrado(estadoRequisicao.EMATENDIMENTO)}"><U>E</U>m Atendimento</a>&nbsp;&nbsp;&nbsp;				
			#{/if}
			#{if menuRequisicoesMostrarAtendidas} 
	   			<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_A" id="menuRequisicoesMostrarAtendidas" 
				href="@{Requisicoes.listarFiltrado(estadoRequisicao.ATENDIDA)}"></a>
				<a href="@{Requisicoes.listarFiltrado(estadoRequisicao.ATENDIDA)}"><U>A</U>tendidas</a>&nbsp;&nbsp;&nbsp;			
			#{/if}
			#{if menuRequisicoesMostrarNaoAtendidas} 
	   			<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_N" id=menuRequisicoesMostrarNaoAtendidas 
				href="@{Requisicoes.listarFiltrado(estadoRequisicao.NAOATENDIDA)}"></a>
				<a href="@{Requisicoes.listarFiltrado(estadoRequisicao.NAOATENDIDA)}"><U>N</U>&atilde;o Atendidas</a>&nbsp;&nbsp;&nbsp;			
			#{/if}
			#{if menuRequisicoesMostrarCanceladas} 
	   			<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_C" id="menuRequisicoesMostrarCanceladas" 
				href="@{Requisicoes.listarFiltrado(estadoRequisicao.CANCELADA)}"></a>
				<a href="@{Requisicoes.listarFiltrado(estadoRequisicao.CANCELADA)}"><U>C</U>anceladas</a>&nbsp;&nbsp;&nbsp;			
			#{/if}
		</p>