<div class="gt-content-box gt-for-table">
	<table border="0" class="gt-table">
		<thead>
			<tr>
				<th width="50%">Descri&ccedil;&atilde;o</th>
				<th width="25%" style="text-align: right">Total</th>
			</tr>
		</thead>
		<tbody>
		
		#{list items:lista, as:"item"}
			<tr>
				<td ><a href="${item[0]}">${item[1]?.raw()}</a></td>
				<td align="right" ><a href="${item[0]}">${item[2]}</a></td>
			</tr>
		#{/list}
		</tbody>
	</table>
</div>
<br />
<form action="@{Requisicoes.incluir}">
	<div id="rightbottom"></div>
	<br>
	<input type="submit" value="&{'views.botoes.novo'}" class="gt-btn-small gt-btn-right"/>
</form>	