#{calendario /}
#{decimal/}
#{extends 'main.html' /}

#{set title:'SIGA::Transportes' /}

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<h2>${veiculo.dadosParaExibicao}</h2>
		<h3>Abastecimentos</h3>

#{include 'Veiculos/menu.html' /}

#{if abastecimentos.size()>0}
		<div class="gt-content-box gt-for-table">     
		 	<table id="htmlgrid" class="gt-table">
		    	<tr style="font-weight: bold;">
		    	    <th>Data e Hora</th>
			   		<th>N&iacute;vel de Comb. (l)</th>
			   		<th>Qtd.(l)</th>
			   		<th>Od&ocirc;metro (Km)</th>
			   		<th>Dist. Percorrida (Km)</th>
			   		<th>Consumo M&eacute;dio (Km/l)</th>
				</tr>
#{list abastecimentos, as:'abastecimento'}				
			   	<tr>
		    	    <td>${abastecimento.dataHora?.format('dd/MM/yyyy HH:mm')}</td>
		    		<td>${abastecimento.nivelDeCombustivel?.descricao}</td>
		    		<td>${abastecimento.quantidadeEmLitros.formataMoedaBrasileiraSemSimbolo()}</td>
		    		<td>${abastecimento.odometroEmKm.formataMoedaBrasileiraSemSimbolo()}</td>
		    		<td>${abastecimento.distanciaPercorridaEmKm.formataMoedaBrasileiraSemSimbolo()}</td>
		    		<td>${abastecimento.consumoMedioEmKmPorLitro.formataMoedaBrasileiraSemSimbolo()}</td>
				</tr>
#{/list} 				
		     </table>   
		</div>
#{/if}
#{else}
<br/><h3>N&atilde;o existem abastecimentos cadastrados para este ve&iacute;culo.</h3>
#{/else}
	</div>
</div>





