#{erros /} 


<!--<script>
Já existe função similar em Afastamento.java
function verificaDatas(){
	var dataHoraInicio = document.getElementById("dataHoraInicio").value;
	var dataHoraFim = document.getElementById("dataHoraFim").value;
	var descricao = document.getElementById("descricao").value;
		
	if (dataHoraInicio == "" || dataHoraFim == "" || descricao == ""){
		alert("Uma ou mais campos estão sem preenchimento.");
		return false;
	}
	
	if (dataHoraInicio > dataHoraFim) {
		alert("A data e hora do fim do afastamento são anteriores ao início.");
		return false;
	}
	return true;
}
</script>-->

#{form @Afastamentos.salvar(), enctype:'multipart/form-data',id:'formAfastamentos' }
	<input type="hidden" name="afastamento.id" value="${afastamento.id}" />
	<input type="hidden" name="afastamento.condutor.id" value="${afastamento.condutor.id}">
	<div class="gt-content-box gt-for-table">     
	 	<table id="htmlgrid" class="gt-table" >
	 		<tr>
	        	<th width="13%" class="obrigatorio">Descrição:</th>
	        	<td>
	        		<input type="text" id="descricao" name="afastamento.descricao" value="${afastamento.descricao}" size="60" />
	        	</td>
	        </tr>
	        <tr>
	        	<th width="13%" class="obrigatorio">Data e Hora de Início:</th>
	        	<td>
	        		<input type="text" id="dataHoraInicio" name="afastamento.dataHoraInicio" value="${afastamento.dataHoraInicio?.format('dd/MM/yyyy HH:mm')}" size="20" class="dataHora" />
	        	</td>
	        </tr>
	        <tr>
	        	<th width="13%" class="obrigatorio">Data e Hora do Fim:</th>
	        	<td>
	        		<input type="text" id="dataHoraFim" name="afastamento.dataHoraFim" value="${afastamento.dataHoraFim?.format('dd/MM/yyyy HH:mm')}" size="20" class="dataHora" />
	        	</td>
	        </tr>
		</table> 
	</div>
	<br/><span class="alerta menor">&{'views.erro.preenchimentoObrigatorio'}</span>
	<div class="gt-table-buttons">
		<!--  <input type="submit" value="Salvar" class="gt-btn-medium gt-btn-left" onClick="return verificaDatas()" /> -->
		<input type="submit" value="&{'views.botoes.salvar'}" class="gt-btn-medium gt-btn-left" />
		<input type="button" value="&{'views.botoes.cancelar'}" onClick="javascript:location.href='@{Afastamentos.listarPorCondutor(afastamento.condutor.id)}'" class="gt-btn-medium gt-btn-left" />
	</div>
#{/form}