﻿#{extends 'main.html' /}
#{erros}#{/erros}

#{set title:'SIGA-Transporte' /}

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<h2>Parametriza&ccedil;&atilde;o do Sistema</h2>

		#{if parametros.size() > 0}
		<div class="gt-content-box gt-for-table">
		 	<table id="htmlgrid" class="gt-table" >
		    	<thead>
		    	<tr>
		    		<th>Nome do Par&acirc;metro</th>
			   		<th>Valor do Par&acirc;metro</th>
					<th>Lota&ccedil;&atilde;o</th>
					<th>Servidor</th>
					<th>Org&atilde;o do Usu&aacute;rio</th>
					<th>Complexo</th>
			   		<th>In&iacute;cio de Vig&ecirc;ncia</th>
			   		<th>Fim de Vig&ecirc;ncia</th>
			   		<th width="5%"></th>
			   		<th width="5%"></th>
				</tr>
				</thead>
				<tbody>
		#{list parametros, as:'item'}
			   	<tr>
			   		<td>${item.nomeParametro}</td>
				   	<td>${item.valorParametro}</td>
			   		<td>${item.dpLotacao?.nomeLotacao}</td>
					<td>${item.dpPessoa?.nomePessoa}</td>
					<td>${item.cpOrgaoUsuario?.nmOrgaoUsu}</td>	
					<td>${item.cpComplexo?.nomeComplexo}</td>
				   	<td>
				   	#{if item.dataInicio != null}
				   		${item.dataInicio.time.format('dd/MM/yyyy')}
				   	#{/if}
				   	</td>
					<td>
					#{if item.dataFim != null}
						${item.dataFim.time.format('dd/MM/yyyy')}
					#{/if}
					</td>
		    		<td><a href="@{Parametros.editar(item.id)}">Editar</a></td>
		    		<td><a onclick="javascript:return confirm('Tem certeza de que deseja excluir os dados desta parametro?');" href="@{Parametros.excluir(item.id)}">Excluir</a></td>
				</tr>
		#{/list}
		</tbody>
		     </table>
<div id="pagination"/> 
		</div>
#{/if}
#{else}
<br/><h3>N&atilde;o existem parametros cadastrados.</h3>
#{/else}
<div class="gt-table-buttons">
	<a href="@{Parametros.incluir()}" id="botaoIncluirParametro" class="gt-btn-medium gt-btn-left">&{'views.botoes.incluir'}</a>
</div>
	</div>
</div>
