<script src="@{'/public/javascripts/jquery/jquery-ui-1.8.16.custom.min.js'}"></script>
#{erros}#{/erros}
#{if mostrarMenu}
#{include 'Missoes/menuMissao.html' /}
#{/if}
<br />
		<input type="hidden" id="missaoId" name="missao.id" value="${missao.id}" />

	<h3>Informa&ccedil;&otilde;es B&aacute;sicas</h3>
	<div id ="infbasicas" class="gt-content-box gt-for-table">     
	 	<table id="htmlgridInformacoesBasicas" class="gt-table" >
	 		<tr>
	        	<th width="14%">Estado:</span></th>
	        	<td>${missao.estadoMissao}</td>
	        </tr>
	        #{if missao.estadoMissao.equals("FINALIZADA")}
	        <tr>
	        	<th width="14%">Dist&acirc;ncia Percorrida:</span></th>
	        	<td>${missao.distanciaPercorridaEmKm}</td>
	        </tr>
	        <tr>
	        	<th width="14%">Tempo:</th>
	        	<td>${missao.tempoBruto}</td>
	        </tr>
	        <tr>
	        	<th width="14%">Consumo (l):</th>
	        	<td>${missao.consumoEmLitros}</td>
	        </tr>
	        #{/if}
		</table> 
	</div>
	<br>
	<h3> Requisi&ccedil;&atilde;o(&otilde;es)</h3>
	    
		<div id ="gridRequisicoes" class="gt-content-box gt-for-table">  
		 	<table id="htmlgridRequisicoes" class="gt-table" >
		    	<thead>
		    	<tr style="font-weight: bold;">
		    		<th>Sa&iacute;da prevista</th>
		    		<th>Retorno previsto</th>
		    		<th>Dados da Requisi&ccedil;&atilde;o</th>
		    		<th width="12%"></th>
				</tr>
				</thead>
				<tbody id="tbody"> 
                #{list missao.requisicoesTransporte, as:'requisicaoTransporte'}	
                <tr id="row_${requisicaoTransporte.id}">
			   	    <input type="hidden" name='requisicoesSelecionadas' readonly="readonly" value="${requisicaoTransporte.id}" class="requisicoes" />
			   	   	<td>${requisicaoTransporte.dataHoraSaidaPrevista?.format('dd/MM/yyyy HH:mm')}</td>
		    		<td>${requisicaoTransporte.dataHoraRetornoPrevisto?.format('dd/MM/yyyy HH:mm')}</td>
			   	    <td>
			   	    	#{tp.tags.link requisicaoTransporte.descricaoCompleta,
		    		  	 			   parteTextoLink: requisicaoTransporte.sequence,
		    						   comando: @Requisicoes.buscarPelaSequence(requisicaoTransporte.sequence,true)}
		    			#{/tp.tags.link}
					</td>
			   	    <td width="12%" >
			   	    #{if missao.estadoMissao.equals("FINALIZADA")}
			   	    ${requisicaoTransporte.getUltimoEstadoNestaMissao(missao.id)?.descricao}
			   	    #{/if}
			   	    </td>
				</tr>
                #{/list}
                </tbody>
		     </table>
		</div>

	<br />
	
	<h3>Sa&iacute;da</h3>
	<div id ="infSaida" class="gt-content-box gt-for-table">
	 	<table id="htmlgridSaida" class="gt-table" >
		    <tr>
	        	<th  width="14%">Data/Hora:</th>
	        	<td>${missao.dataHoraSaida?.format('dd/MM/yyyy HH:mm')}</td>
	        	<th  width="14%">Veículo:</th>
				<td>${missao.veiculo?.dadosParaExibicao}</td>
	        	<th  width="14%" >Condutor:</th>
				<td colspan="3">${missao.condutor?.dadosParaExibicao}</td>
	        	
	        </tr>
	        #{if missao.estadoMissao.equals("INICIADA") || missao.estadoMissao.equals("FINALIZADA")}
	        <tr>
	        	<th width="14%">Od&ocirc;metro:</th>
	        	<td>${missao.odometroSaidaEmKm}</td>
	        	
	        	<th width="14%">Estepe:</th>
				<td align="left" style="padding: 7px 10px;">${missao.estepe}</td>
				
	        	<th width="14%">Avarias Aparentes:</th>
				<td align="left" style="padding: 7px 10px;">${missao.avariasAparentesSaida}</td>
				
				<th width="14%">Limpeza:</th>
				<td align="left" style="padding: 7px 10px;">${missao.limpeza}</td>
				
	        </tr>
	        <tr>
	        	<th width="14%">N&iacute;vel Combust&iacute;vel:</th>
				<td align="left" style="padding: 7px 10px;">${missao.nivelCombustivelSaida}</td>
				
	        	<th width="14%">Tri&acirc;ngulo:</th>
				<td align="left" style="padding: 7px 10px;">${missao.triangulos}</td>
					
	        	<th width="14%">Extintor:</th>
				<td align="left" style="padding: 7px 10px;">${missao.extintor}</td>
				
				<th width="14%">Ferramentas:</th>
				<td align="left" style="padding: 7px 10px;">${missao.ferramentas}</td>
				
	        </tr>
	        <tr>
	        	<th width="14%">Licen&ccedil;a:</th>
				<td align="left" style="padding: 7px 10px;">${missao.licenca}</td>
				
	        	<th width="14%">Cartão Seguro:</th>
				<td align="left" style="padding: 7px 10px;">${missao.cartaoSeguro}</td>
				
	        	<th width="14%">Cartão Abastecimento:</th>
				<td align="left" style="padding: 7px 10px;">${missao.cartaoAbastecimento}</td>
				
	        	<th width="14%">Cartão Saída:</th>
				<td align="left" style="padding: 7px 10px;">${missao.cartaoSaida}</td>	
	        </tr>	
	        #{/if}
		</table> 
	        
	</div>
	<br>
	
	#{if missao.estadoMissao.equals("CANCELADA")}
	<div id ="infCancelamento" class="gt-content-box gt-for-table">
	<table class="gt-table" >
		<tr>
			<th width="15%">Justificativa:</th>
			<td>${missao.justificativa}</td>
		</tr>
	</table>
	</div>
	#{/if}
	
	#{if missao.estadoMissao.equals("FINALIZADA")}
	<h3>Retorno</h3>
	<div id ="infRetorno" class="gt-content-box gt-for-table">     
	 	<table id="htmlgridRetorno" class="gt-table" >
		    <tr>
	        	<th width="14%">Data/Hora:</th>
	        	<td>${missao.dataHoraRetorno?.format('dd/MM/yyyy HH:mm')}</td>
	        	<th colspan ="6"/>
	        </tr>
	        <tr>
	        	<th width="14%">Odômetro:</th>
	        	<td>${missao.odometroRetornoEmKm}</td>
	        	
	        	<th width="14%">Combustivel:</th>
				<td align="left" style="padding: 7px 10px;">${missao.nivelCombustivelRetorno}</td>
				
	        	<th width="14%">Avarias Aparente:</th>
				<td align="left" style="padding: 7px 10px;">${missao.avariasAparentesRetorno}</td>
				
				<th width="14%"></th>
				<td></td>
				
				<tr>
		        <th>Ocorrências: </th>
		        <td colspan="7" style="font-family: monospace; white-space: pre;">${missao.ocorrencias}</td>
		        </tr>
		        
		       	<tr>
		        <th>Itinerário Completo: </th>
		        <td colspan="7" style="font-family: monospace; white-space: pre;">${missao.itinerarioCompleto}</td>
		        </tr> 
		</table> 
	</div>
	#{/if}
	<br/>
	
