#{extends 'main.html' /}

#{set title:'SIGA-Transporte' /}

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		#{if !menuMissoesMostrarTodas && !menuMissoesMostrarProgramadas && !menuMissoesMostrarIniciadas && !menuMissoesMostrarFinalizadas && !menuMissoesMostrarCanceladas}
			<h2>Filtro Avan&ccedil;ado de Miss&otilde;es</h2>
		#{/if}		
		#{elseif !menuMissoesMostrarTodas} 
			<h2>Lista de Todas as Miss&otilde;es</h2>			
		#{/elseif}
		#{elseif !menuMissoesMostrarProgramadas}
			<h2>Lista de Miss&otilde;es Programadas</h2>
		#{/elseif}
		#{elseif !menuMissoesMostrarIniciadas} 
			<h2>Lista de Miss&otilde;es Iniciadas</h2>
		#{/elseif}
		#{elseif !menuMissoesMostrarFinalizadas}
			<h2>Lista de Miss&otilde;es Finalizadas</h2>
		#{/elseif}
		#{elseif !menuMissoesMostrarCanceladas} 
			<h2>Lista de Miss&otilde;es Canceladas</h2>
		#{/elseif}
		
		
#{include 'Missoes/menu.html' /}

#{if missoes.size() > 0}
		<div class="gt-content-box gt-for-table">     
		 	<table id="htmlgrid" class="gt-table" >
		    	<thead>
		    	<tr style="font-weight: bold;">
		    		<th width="15%">Numero</th>
		    	    <th width="10%">Data Sa&iacute;da</th>
		    	    <!-- <th width="10%">Data Retorno</th> -->
		    	    <th width="10%">Estado</th>
		    	    <th width="15%">Ve&iacute;culo</th>
		    	    <th width="15%">Condutor</th>		    	    
			   		<th width="30%">Requisicoes</th>
					<th width="5%"></th>
					<th width="5%"></th>
					<th width="5%"></th>
				</tr>
				</thead>
				<tbody>
#{list missoes, as:'missao'}
			   	<tr>	
		    	    <td>
		    	    #{if exibirMenuAdministrar || exibirMenuAdministrarMissao || exibirMenuAdministrarMissaoComplexo || exibirMenuAgente}
		    	    <nobr><a href="@{Missoes.buscarPelaSequence(missao.sequence)}">${missao.sequence}</a> <a href="#" onclick="javascript:window.open('@{Missoes.buscarPelaSequence(missao.sequence, true)}');"><img src="/sigatp/public/images/linknovajanelaicon.png" alt="Abrir em uma nova janela" title="Abrir em uma nova janela"></a></nobr>
	    	    	#{/if}
	    	    	#{else}
		    	    <nobr>${missao.sequence}<a href="#" onclick="javascript:window.open('@{Missoes.buscarPelaSequence(missao.sequence, true)}');"><img src="/sigatp/public/images/linknovajanelaicon.png" alt="Abrir em uma nova janela" title="Abrir em uma nova janela"></a></nobr>	    	    	
	    	    	#{/else}
	    	    	</td>
		    		<td>${missao.dataHoraSaida?.format('dd/MM/yyyy HH:mm')}</td>
		    		<!-- <td>${missao.dataHoraRetorno?.format('dd/MM/yyyy HH:mm')}</td> -->
		    		<td>${missao.estadoMissao}</td>
		    		<td>${missao.veiculo.dadosParaExibicao}</td>
		    		<td>${missao.condutor.dadosParaExibicao}</td>		    		
		    		<td>
		    		#{if missao.requisicoesTransporte?.size() > 0}
		    		<table border="0">#{list missao.requisicoesTransporte, as:'requisicaoTransporte'}<tr><td>
		    		#{tp.tags.link requisicaoTransporte.descricaoCompleta,
		    		  			   parteTextoLink: requisicaoTransporte.sequence,
		    					   comando: @Requisicoes.buscarPelaSequence(requisicaoTransporte.sequence,true)}
		    		#{/tp.tags.link}
		    		</td></tr>#{/list}</table>
		    		#{/if}
		    		#{else}
		    		<table border="0"><tr><td style="white-space: pre;">SEM REQUISIÇÕES</td></tr></table>
		    		#{/else}
		    		</td>
 		    		<td>
 		    		#{if missao.estadoMissao != estadoMissao.FINALIZADA && missao.estadoMissao != estadoMissao.CANCELADA}
 		    		<a href="@{Missoes.editar(missao.id)}">Editar</a>
 		    		#{/if}
 		    		</td>
		    		<td>
		    		#{if missao.estadoMissao == estadoMissao.PROGRAMADA}
		    		<a href="@{Missoes.cancelar(missao.id)}">Cancelar</a>
		    		#{/if}
		    		</td>
		    		<td><a href="#" onclick="javascript:window.open('@{Relatorios.listarDadosDaMissao(missao.id)}');">Imprimir</a></td>
				</tr>
#{/list}
			</tbody>
		     </table>
		     		   		    <div id="pagination"/>    
		</div>
#{/if}
#{else}
		<h3>N&atilde;o h&aacute; miss&otilde;es a exibir.</h3>
#{/else}
#{if exibirMenuAdministrar || exibirMenuAdministrarMissao || exibirMenuAdministrarMissaoComplexo || exibirMenuAgente}
<div class="gt-table-buttons">
	<a href="@{Missoes.incluir()}" class="gt-btn-medium gt-btn-left">&{'views.botoes.incluir'}</a>
</div>
#{/if}
	</div>
</div>