<link rel="stylesheet" href="@{'/public/stylesheets/andamentos.css'}" type="text/css" media="screen"/>
<script type="text/javascript">
	function trocaExibicaoCaixaBuscaAvancada() {
		$(".caixa_busca_avancado").toggle();
	}
</script>

	   	<p class="gt-table-action-list">
	   		#{if menuMissoesMostrarVoltar} 
	   			<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_Voltar"
				href="@{Missoes.listarFiltrado()}"></a><a href="@{Missoes.listarFiltrado()}">Voltar</a>&nbsp;&nbsp;&nbsp;
			#{/if}
	   		#{if menuMissoesMostrarTodas} 
	   		 	 #{if exibirMenuAdministrar  || exibirMenuAdministrarMissao || exibirMenuAdministrarMissaoComplexo } 
 	 	   			<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_T"
				href="@{Missoes.listar()}"></a><a href="@{Missoes.listar()}"><U>T</U>odas</a>&nbsp;&nbsp;&nbsp; 
				 #{/if}
				 #{else}
	 	   			<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_T"
				href="@{Missoes.listarPorCondutorLogado()}"></a><a href="@{Missoes.listarPorCondutorLogado()}"><U>T</U>odas</a>&nbsp;&nbsp;&nbsp;
				 #{/else}
			#{/if}
	   		#{if menuMissoesMostrarProgramadas}
	   			<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_P"
				href="@{Missoes.listarFiltrado(estadoMissao.PROGRAMADA)}"></a>
				<a href="@{Missoes.listarFiltrado(estadoMissao.PROGRAMADA)}"><U>P</U>rogramadas</a>&nbsp;&nbsp;&nbsp;	   		
			#{/if}
	   		#{if menuMissoesMostrarIniciadas} 
	   			<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_I"
				href="@{Missoes.listarFiltrado(estadoMissao.INICIADA)}"></a>
				<a href="@{Missoes.listarFiltrado(estadoMissao.INICIADA)}"><U>I</U>niciadas</a>&nbsp;&nbsp;&nbsp;
			#{/if}
	   		#{if menuMissoesMostrarFinalizadas} 
	   			<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_F"
				href="@{Missoes.listarFiltrado(estadoMissao.FINALIZADA)}"></a>
				<a href="@{Missoes.listarFiltrado(estadoMissao.FINALIZADA)}"><U>F</U>inalizadas</a>&nbsp;&nbsp;&nbsp;
			#{/if}
	   		#{if menuMissoesMostrarCanceladas} 
	   			<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_C"
				href="@{Missoes.listarFiltrado(estadoMissao.CANCELADA)}"></a>
				<a href="@{Missoes.listarFiltrado(estadoMissao.CANCELADA)}"><U>C</U>anceladas</a>&nbsp;&nbsp;&nbsp;
			#{/if}
	   		#{if menuMissoesMostrarFiltrarPorCondutor && ((condutorEscalado == null) || (condutorEscalado.id == 0))} 
	   			<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_Avancado" href="#"></a>
				<a href="#" onclick="javascript:trocaExibicaoCaixaBuscaAvancada();">Avançado</a>&nbsp;&nbsp;&nbsp;
			#{/if}
		</p>
		<p><div class="caixa_busca_avancado">
			#{form @Missoes.listarPorCondutor(), enctype:'multipart/form-data'}
				<label for="servico.veiculo.id" >Selecione o condutor:</label>
				#{select   	'condutorEscalado.id', 
							items: condutoresEscalados,
							labelProperty:'dadosParaExibicao', 
							id: 'lstCondutores', 
							value:condutorEscalado?.id}
				#{/select}
				<div id="btnAcoes" class="gt-table-buttons">
					<input id="btnFiltrar" type="submit" value="&{'views.botoes.filtrar'}" class="gt-btn-medium gt-btn-left" />
				</div>
			#{/form}
		</div></p>
		
		#{if (condutorEscalado != null) && (condutorEscalado.id != 0)}
			<script type="text/javascript">trocaExibicaoCaixaBuscaAvancada();</script>
		#{/if}
		