#{form @PlantoesMensais.salvar(), enctype:'multipart/form-data'}
	<input type="hidden" id="dadosParaTitulo" name="dadosParaTitulo" value="${dadosParaTitulo}" />
	<input type="hidden" id="mes" name="mes" value="${mes}" />
	<input type="hidden" id="ano" name="ano" value="${ano}" />
	<input type="hidden" id="hora" name="hora" value="${hora}" />
	
	<div class="gt-content-box gt-for-table">     
	 	<table id="htmlgrid" class="gt-table" >

	#{ set cont = 0 /}
	#{list plantoes, as:'plantao'}
	<tr class="naoPaginar">
	<th>${plantoes[cont].dataHoraInicio.format('dd/MM/yyyy HH:mm')}</th>
	<td>
		<input type="hidden" name="plantoes[${cont}].id" value="${plantao.id}" />
		<input type="hidden" name="plantoes[${cont}].referencia" value="${plantao.referencia}" />
		<input type="hidden" name="plantoes[${cont}].dataHoraInicio" value="${plantoes[cont].dataHoraInicio.format('dd/MM/yyyy HH:mm')}" />
		<input type="hidden" name="plantoes[${cont}].dataHoraFim" value="${plantoes[cont].dataHoraFim.format('dd/MM/yyyy HH:mm')}" />
		#{select "plantoes[${cont}].condutor.id", 
			items:condutores, 
			labelProperty:'dadosParaExibicao', 
			value:plantao.condutor?.id}
		#{/select}
		#{set cont = cont + 1 /} 
	</td>
	</tr>
		
	#{/list}
	 	</table>
	 	</div>
	 	
 		<div id="btnAcoes" class="gt-table-buttons">
			<input id="btnSalvar" type="submit" value="&{'views.botoes.salvar'}" class="gt-btn-medium gt-btn-left" />
			<input type="button" id="btnVoltar"  value="&{'views.botoes.voltar'}" onClick="javascript:location.href='@{PlantoesMensais.listar}'" class="gt-btn-medium gt-btn-left" />
		</div>
	
#{/form}