#{extends 'main.html' /}

#{set title:'SIGA-Transporte' /}

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<h2>${veiculo.dadosParaExibicao}</h2>
		<h3>Avarias</h3>

#{include 'Veiculos/menu.html' /}

#{if avarias.size() > 0}
		<div class="gt-content-box gt-for-table">     
		 	<table id="htmlgrid" class="gt-table" >
		    	<tr style="font-weight: bold;">
			   		<th width="10%">Data Registro</th>
			   		<th width="10%">Data Solu&ccedil;&atilde;o</th>
			   		<th>Descri&ccedil;&atilde;o</th>
			   		<th width="5%"></th>
			   		<th width="5%"></th>
				</tr>
	#{list items:avarias, as:'item'}
			   	<tr>
		    		<td>${item.dataDeRegistro?.format('dd/MM/yyyy')}</td>
		    		<td>${item.dataDeSolucao?.format('dd/MM/yyyy')}</td>
		    		<td style="white-space: pre-line;">${item.descricao}</td>
		    		<td><a href="@{Avarias.editar(item.id, true)}">Editar</a></td>
		    		<td><a onclick="javascript:return confirm('Tem certeza de que deseja excluir esta avaria?');" href="@{Avarias.excluir(item.id, true)}">Excluir</a></td>
				</tr>
	#{/list}
		     </table>
		</div>
#{/if}
#{else}
<br/><h3>N&atilde;o existem avarias cadastradas para este ve&iacute;culo.</h3>
#{/else}
<div class="gt-table-buttons">
	<a href="@{Avarias.incluir(veiculo.id)}" class="gt-btn-medium gt-btn-left">&{'views.botoes.incluir'}</a>
</div>
	</div>
</div>
