#{erros}#{/erros}
#{form @ConfiguracoesGI.salvar(), enctype:'multipart/form-data'}
	<input type="hidden" name="cpConfiguracao.idConfiguracao" value="${cpConfiguracao?.idConfiguracao}" />
	<input type="hidden" name="cpConfiguracao.id" value="${cpConfiguracao?.id}" />	
	<div class="gt-content-box gt-form clearfix">
		<div class="coluna margemDireitaG">
		    <input type="hidden" name="cpConfiguracao.orgaoUsuario.idOrgaoUsu" value="${cpConfiguracao.orgaoUsuario.idOrgaoUsu}"/>
		    <label for= "cpConfiguracao.lotacao" > Lota&ccedil;&atilde;o</label>
				#{selecao 	tipo:'lotacao', 
							nome:'cpConfiguracao.lotacao', 
							value:cpConfiguracao?.lotacao/} 
			
			<label for="cpConfiguracao.dpPessoa.id">Servidor: </label>
			#{selecao tipo:'pessoa',nome:'cpConfiguracao.dpPessoa', value:cpConfiguracao?.dpPessoa/}							

		    <label for= "cpConfiguracao.cpSituacaoConfiguracao.idSitConfiguracao" class= "obrigatorio">  Situa&ccedil;&atilde;o Configura&ccedil;&atilde;o</label>	
			<select name="cpConfiguracao.cpSituacaoConfiguracao.idSitConfiguracao" size="1" >
   					#{list cpSituacoesConfiguracao, as:'cpSituacaoConfiguracao'}
   						#{if cpConfiguracao.cpSituacaoConfiguracao != null && cpSituacaoConfiguracao.idSitConfiguracao == cpConfiguracao.cpSituacaoConfiguracao.idSitConfiguracao} 
   							<option value="${cpSituacaoConfiguracao.idSitConfiguracao}" selected=selected>${cpSituacaoConfiguracao.dscSitConfiguracao}</option>
   						#{/if}
   						#{else}
				     		 <option value="${cpSituacaoConfiguracao.idSitConfiguracao}" >${cpSituacaoConfiguracao.dscSitConfiguracao}</option>
   						#{/else}
					#{/list} 
   			</select>
			
			
			<label for= "cpConfiguracao.cpTipoConfiguracao.idTpConfiguracao" class= "obrigatorio"> Tipo de Configura&ccedil;&atilde;o</label>	
		
						<select name="cpConfiguracao.cpTipoConfiguracao.idTpConfiguracao" size="1" >
   					#{list cpTiposConfiguracao, as:'cpTipoConfiguracao'}
   						#{if cpConfiguracao.cpTipoConfiguracao != null && cpTipoConfiguracao.idTpConfiguracao == cpConfiguracao.cpTipoConfiguracao.idTpConfiguracao} 
   							<option value="${cpTipoConfiguracao.idTpConfiguracao}" selected=selected>${cpTipoConfiguracao.dscTpConfiguracao}</option>
   						#{/if}
   						#{else}
   							<option value="${cpTipoConfiguracao.idTpConfiguracao}" >${cpTipoConfiguracao.dscTpConfiguracao}</option>
   						#{/else}
					#{/list} 
   			</select>
			
			
						<label for= "cpConfiguracao.complexo.idComplexo" class= "obrigatorio">Complexo</label>	

						<select name="cpConfiguracao.complexo.idComplexo" size="1" >
   					#{list cpComplexos, as:'cpComplexo'}
   						#{if cpConfiguracao.complexo != null && cpComplexo.idComplexo == cpConfiguracao.complexo.idComplexo} 
   							<option value="${cpComplexo.idComplexo}" selected=selected>${cpComplexo.nomeComplexo}</option>
   						#{/if}
   						#{else}
			<option value="${cpComplexo.idComplexo}" >${cpComplexo.nomeComplexo}</option>
   						#{/else}
					#{/list} 
   			</select>
	
		</div>
	
	</div>
	<span class="alerta menor">&{'views.erro.preenchimentoObrigatorio'}</span>
	<div class="gt-table-buttons">
		<input type="submit" value="&{'views.botoes.salvar'}" class="gt-btn-medium gt-btn-left" />
		<input type="button" value="&{'views.botoes.cancelar'}" onClick="javascript:location.href='@{ConfiguracoesGI.pesquisar(cpConfiguracao?.orgaoUsuario?.idOrgaoUsu)}'" class="gt-btn-medium gt-btn-left" />
	</div>
#{/form}