#{extends 'main.html' /}
#{set title:'SIGA-Transporte' /}

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<h2>${condutor.dadosParaExibicao}</h2>
		<h3>Autos de Infra&ccedil;&atilde;o</h3>

#{include 'Condutores/menu.html' /}

#{if autosDeInfracao.size() > 0}
		<div class="gt-content-box gt-for-table">     
		 	<table id="htmlgrid" class="gt-table" >
		    	<thead>
		    	<tr style="font-weight: bold;">
			   		<th>Data e Hora</th>
					<th>Ve&iacute;culo</th> 
				    <th>Gravidade</th>
				    <th>Qtd. Pontos</th>
					<th>Valor</th>
					<th>Valor c/ Desconto</th>
					<th>Vencimento</th>
					<th>Pagamento</th> 
				</tr>
				</thead>
				<tbody>
	#{list items:autosDeInfracao, as:'autosDeInfracao'}
			   	<tr>
		    		<td>${autosDeInfracao.dataHora?.format('dd/MM/yyyy HH:mm')}</td>
   	    			<td>${autosDeInfracao.veiculo.dadosParaExibicao}</td>
   					<td>${autosDeInfracao.gravidade.descricao}</td>
   					<td>${autosDeInfracao.quantidadeDePontos}</td>
   					<td>${autosDeInfracao.valor}</td>		    		
   					<td>${autosDeInfracao.valorComDesconto}</td>
   					<td>${autosDeInfracao.dataDeVencimento?.format('dd/MM/yyyy')}</td>
   					<td>${autosDeInfracao.dataDePagamento?.format('dd/MM/yyyy')}</td>
				</tr>
	#{/list}
	</tbody>
		     </table>
		     		  	       		 <div id="pagination"/>
		</div>
#{/if}
#{else}
		<br/><h3>N&atilde;o existem autos de infra&ccedil;&atilde;o cadastrados para este condutor.</h3>
#{/else}
	</div>
</div>
