#{extends 'main.html' /}

#{set title:'SIGA::Transportes' /}

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<h2>Incluir Plant&atilde;o mensal</h2>
#{erros}#{/erros}
#{form @PlantoesMensais.incluir(), enctype:'multipart/form-data'}
	<div class="gt-content-box gt-form gt-cols-3 clearfix">
		<div class="gt-sidebar-left">
	       	<label for="mes" class= "obrigatorio">M&ecirc;s</label>
	    	#{select 'mes', 
					items:optMes.values(), 
					labelProperty:'nomeExibicao', 
					value:mesDefault}
					#{/select}
	       	<label for= "ano" class= "obrigatorio">Ano</label>
	        #{select 'ano', 
					items:optAno, 
					value:anoDefault}
					#{/select}
	       	<label for="hora" class= "obrigatorio">Hora de in&iacute;cio do plant&atilde;o</label>
	       	#{select 'hora',
					items:optHora,
					value:horaDefault}
					#{/select}
       </div>
	</div>
	<span class="alerta menor">&{'views.erro.preenchimentoObrigatorio'}</span>
	<div class="gt-table-buttons">
		<input type="submit" value="&{'views.botoes.continuar'}" class="gt-btn-medium gt-btn-left" />
		<input type="button" id="btnVoltar"  value="&{'views.botoes.voltar'}" onClick="javascript:location.href='@{PlantoesMensais.listar}'" class="gt-btn-medium gt-btn-left" />
	</div>
#{/form}