#{calendario /}
#{extends 'main.html' /}

#{set title:'SIGA::Transportes' /}

<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/relatorioDiario.css'}">

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<h2>${veiculo.dadosParaExibicao}</h2>
		<h3>Relat&oacute;rios Di&aacute;rios</h3>
#{include 'Veiculos/menu.html' /}

#{if relatoriosDiarios.size()>0}
		<div class="gt-content-box gt-for-table">     
		 	<table id="htmlgrid" class="gt-table">
		    	<thead>
		    	<tr style="font-weight: bold;">
		    	    <th>Data</th>
			   		<th>Od&ocirc;metro (Km)</th>
			   		<th>N&iacute;vel de Combust&iacute;vel</th>
			   		<th>Equip.Obrig.</th>
			   		<th>Cart&otilde;es</th>
			   		<th>Observa&atilde;o</th>
			   		<th></th>
			   		<th></th>
				</tr>
				</thead>
				<tbody>
#{list relatoriosDiarios, as:'relatorioDiario'}				
			   	<tr>
		    	    <td>${relatorioDiario.data?.format('dd/MM/yyyy')}</td>
		    		<td>${relatorioDiario.odometroEmKm}</td>
		    		<td>${relatorioDiario.nivelDeCombustivel?.descricao}</td>
		    		<td>${relatorioDiario.equipamentoObrigatorio}</td>
		    		<td>${relatorioDiario.cartoes}</td>
		    		<td><textarea name="relatorioDiario.observacao" readonly class="textarealistar" rows="4" cols="20">${relatorioDiario.observacao}</textarea></td>
		    		<td><a href="@{RelatoriosDiarios.editar(relatorioDiario.id)}">Editar</a></td>
		    		<td><a href="@{RelatoriosDiarios.excluir(relatorioDiario.id)}" onclick="javascript:return confirm('Tem certeza de que deseja excluir este Relat\u00F3rio Di\u00E1io?');">Excluir</a></td>
				</tr>
#{/list} 		
			 </tbody>		
		     </table>
		     		   		    <div id="pagination"/>    
		</div>
#{/if}
#{else}
<br/><h3>N&atilde;o existem relat&oacute;rios di&aacute;rios cadastrados para este ve&iacute;culo.</h3>
#{/else}
<div class="gt-table-buttons">
	<a href="@{RelatoriosDiarios.incluir(veiculo.id)}" class="gt-btn-medium gt-btn-left">&{'views.botoes.incluir'}</a>
</div>
	</div>
</div>





