#{calendario /}
#{extends 'main.html' /}

#{set title:'SIGA::Transportes' /}

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<h2>${condutor.dadosParaExibicao}</h2>
		<h3>Afastamentos</h3>

#{include 'Condutores/menu.html' /}

#{if afastamentos.size()>0}
		<div class="gt-content-box gt-for-table">     
		 	<table id="htmlgrid" class="gt-table">
		    	<tr style="font-weight: bold;">
		    		<th>Descrição</th>
		    	    <th>Início</th>
			   		<th>Fim</th>
			   		<th width="5"></th>
			   		<th width="5"></th>
				</tr>
#{list afastamentos, as:'afastamento'}				
			   	<tr>
			   		<td>${afastamento.descricao}</td>
		    	    <td>${afastamento.dataHoraInicio?.format("dd/MM/yyyy HH:mm")}</td>
		    	    <td>${afastamento.dataHoraFim?.format("dd/MM/yyyy HH:mm")}</td>
		    		<td><a href="@{Afastamentos.editar(afastamento.id)}">Editar</a></td>
		    		<td><a href="@{Afastamentos.excluir(afastamento.id)}" onclick="javascript:return confirm('Tem certeza de que deseja excluir este afastamento?');">Excluir</a></td>
				</tr>
#{/list} 				
		     </table>   
		</div>
#{/if}
#{else}
<br/><h3>N&atilde;o existem afastamentos cadastrados para este condutor.</h3>
#{/else}
<div class="gt-table-buttons">
	<a href="@{Afastamentos.incluir(condutor.id)}" class="gt-btn-medium gt-btn-left">&{'views.botoes.incluir'}</a>
</div>
	</div>
</div>





