#{erros}#{/erros}
<script>
function verificaCampos(){
	
	var dataHora = document.getElementById("dataHora").value;
	var codigoDaAutuacao = document.getElementById("codigoDaAutuacao").value;
	var codigoDaPenalidade = document.getElementById("codigoDaPenalidade").value;
	var descricao = document.getElementById("descricao").value;
	var enquadramento = document.getElementById("enquadramento").value;
	var local = document.getElementById("local").value;
	var valor = document.getElementById("valor").value;
	var quantidadeDePontos = document.getElementById("quantidadeDePontos").value;
	var dataDeVencimento = document.getElementById("dataDeVencimento").value;
	var codigoNotificacao = "";

	if (dataHora == "" || 
		codigoDaAutuacao == "" ||
		codigoDaPenalidade == "" ||
		descricao == "" ||
		enquadramento == "" ||
		local == "" ||
		valor == "" ||
		quantidadeDePontos == "" ||
		dataDeVencimento == ""){
			alert("Um ou mais campos obrigatórios estão sem preenchimento.");
			return false;
	}
	return true;

}
</script>
#{form @AutosDeInfracao.salvar(), enctype:'multipart/form-data',id:'formAutosDeInfracao' }
<div class="gt-content-box gt-form clearfix">
	<div class="coluna margemDireitaG">
       	<label for="autoDeInfracao.dataHora" class= "obrigatorio">Data e Hora</label>
		<input type="text" id="dataHora" name="autoDeInfracao.dataHora" size="16" class="dataHora" value="${autoDeInfracao.dataHora?.format('dd/MM/yyyy HH:mm')}"/> 
		<label for="autoDeInfracao.veiculo.id" class= "obrigatorio">Veículo</label>
		#{select 'autoDeInfracao.veiculo.id', items:veiculos,
				labelProperty:'dadosParaExibicao', value:autoDeInfracao.veiculo?.id}
				#{/select}
		<label for="autoDeInfracao.condutor.id" class= "obrigatorio">Condutor</label>
		#{select 'autoDeInfracao.condutor.id', items:condutores,
				labelProperty:'dadosParaExibicao', value:autoDeInfracao.condutor?.id} #{/select}

		<label for="autoDeInfracao.local" class= "obrigatorio">Local</label>
		<input type="text" id="local" name="autoDeInfracao.local" size="46" value="${autoDeInfracao.local}"/>
	</div>
	<div class="coluna margemDireitaG">
		#{if tipoNotificacao.toString().contains('AUTUACAO')}
			<label for="autoDeInfracao.codigoDaAutuacao" class= "obrigatorio">Cód. da Autuação</label>
			<input type="text" id="codigoDaAutuacao" name="autoDeInfracao.codigoDaAutuacao" value="${autoDeInfracao.codigoDaAutuacao}" />
			<input type="hidden" id="codigoDaPenalidade" name="autoDeInfracao.codigoDaPenalidade" value="0" />
		#{/if}
		#{if tipoNotificacao.toString().contains('PENALIDADE')}
			<label for="autoDeInfracao.codigoDaPenalidade" class= "obrigatorio">Cód. da Penalidade</label>
			<input type="text" id="codigoDaPenalidade" name="autoDeInfracao.codigoDaPenalidade" value="${autoDeInfracao.codigoDaPenalidade}" />
			<input type="hidden" id="codigoDaAutuacao" name="autoDeInfracao.codigoDaAutuacao" value="0" />
		#{/if}
		<label for="autoDeInfracao.descricao" class= "obrigatorio">Descrição</label>
		<input type="text" id="descricao" name="autoDeInfracao.descricao" size="46" value="${autoDeInfracao.descricao}" />
		<label for="autoDeInfracao.enquadramento" class= "obrigatorio">Enquadramento</label>
		<input type="text" id="enquadramento" name="autoDeInfracao.enquadramento" value="${autoDeInfracao.enquadramento}" />
		<label for="autoDeInfracao.gravidade" class= "obrigatorio">Gravidade</label>
		#{select 'autoDeInfracao.gravidade',
				items:autoDeInfracao.gravidade?.values(), labelProperty:'descricao',
				value:autoDeInfracao?.gravidade} #{/select}				
		<label for="autoDeInfracao.quantidadeDePontos" class= "obrigatorio">Qtd. de Pontos</label>
		<input type="text" id="quantidadeDePontos" name="autoDeInfracao.quantidadeDePontos" size="1" value="${autoDeInfracao.quantidadeDePontos}" />
	</div>
	<div class="coluna">
		<label for="autoDeInfracao." class= "obrigatorio">Recebido?</label>
		#{select 'autoDeInfracao.foiRecebido',
				items:autoDeInfracao.foiRecebido?.values(), labelProperty:'descricao',
				value:autoDeInfracao?.foiRecebido} #{/select}
		<label for="autoDeInfracao.numeroDoProcesso">N&uacute;mero do Processo</label>
		<input type="text" id="numeroDoProcesso" name="autoDeInfracao.numeroDoProcesso" value="${autoDeInfracao.numeroDoProcesso}" />			
		<label for="autoDeInfracao.dataDeVencimento" class= "obrigatorio">Vencimento</label>
		<input type="text" id="dataDeVencimento" name="autoDeInfracao.dataDeVencimento" size="8" value="${autoDeInfracao.dataDeVencimento?.format('dd/MM/yyyy')}" class="datePicker"/>
		<label for="autoDeInfracao.valor" class= "obrigatorio">Valor</label>
		<input type="text" id="valor" name="autoDeInfracao.valor" value="${autoDeInfracao.valor}" class="decimal"/>
		<label for="autoDeInfracao.valorComDesconto">Valor c/ Desconto</label>
		<input type="text" name="autoDeInfracao.valorComDesconto" value="${autoDeInfracao.valorComDesconto}" class="decimal"/>
		<label for="autoDeInfracao.dataDePagamento">Pagamento</label>
		<input type="text" name="autoDeInfracao.dataDePagamento" size="8" value="${autoDeInfracao.dataDePagamento?.format('dd/MM/yyyy')}" class="datePicker"/>
	
		<input type="hidden" name="autoDeInfracao.id" value="${autoDeInfracao.id}"/>
	</div>
</div>
<span class="alerta menor">&{'views.erro.preenchimentoObrigatorio'}</span>
<div class="gt-table-buttons">
	<input type="submit" value="&{'views.botoes.salvar'}" class="gt-btn-medium gt-btn-left" />
	<input type="button" value="&{'views.botoes.cancelar'}" class="gt-btn-medium gt-btn-left" onClick="javascript:location.href='@{AutosDeInfracao.listar()}';" />
</div>
#{/form}
