#{extends 'main.html' /}

#{set title:'SIGA-Transporte' /}

	<div class="gt-bd clearfix">
		<div class="gt-content clearfix">
			<h2>Lista de Autos de Infra&ccedil;&atilde;o</h2>

			#{if autosDeInfracao.size() > 0}
				<div class="gt-content-box gt-for-table">     
					<table id="htmlgrid" class="gt-table">
				    	<thead>
				    	<tr>
				    	    <th>Data e Hora</th>
				    	    <th>Veículo</th>
				    		<th>Condutor</th>
				    		<th>Descrição</th>
				    		<th>Nº Proc. Recurso</th>
							<th>Pago?</th>
							<th>Recebido?</th>
							<th width="5%"></th>
							<th width="5%"></th>				    		
						</tr>
						</thead>
						<tbody>
					#{list autosDeInfracao, as:'autoDeInfracao'}
			   			<tr>
		    	    		<td>${autoDeInfracao.dataHora?.format('dd/MM/yyyy HH:mm')}</td>
		    				<td>${autoDeInfracao.veiculo?.dadosParaExibicao}</td>
		    				<td>${autoDeInfracao.condutor?.dadosParaExibicao}</td>
		    				<td>${autoDeInfracao.descricao}</td>
		    				<td>${autoDeInfracao.numeroDoProcesso}</td>
							<td>${autoDeInfracao.foiPago().descricao}</td>
							<td>${autoDeInfracao.foiRecebido.descricao}</td>
	    					<td><a href="@{AutosDeInfracao.editar(autoDeInfracao.id)}">Editar</a></td>
	    					<td><a href="@{AutosDeInfracao.excluir(autoDeInfracao.id)}">Excluir</a></td>
						</tr>
					#{/list}
					</tbody>
		  	       </table>   
		  	       		 <div id="pagination"/>
     		   </div>
	 	   #{/if}
	 	   
	<div class="gt-table-buttons">
		<a href="@{AutosDeInfracao.incluir('AUTUACAO')}" class="gt-btn-medium gt-btn-left">&{'views.botoes.incluirAutuacao'}</a>
		<a href="@{AutosDeInfracao.incluir('PENALIDADE')}" class="gt-btn-medium gt-btn-left">&{'views.botoes.incluirPenalidade'}</a>
	</div>
		</div>
	</div>