#{erros}#{/erros}
#{form @Abastecimentos.salvar(), enctype:'multipart/form-data', id:'formAbastecimentos'}
	<input type="hidden" name="abastecimento.id" value="${abastecimento.id}" />
	<div class="gt-content-box gt-form clearfix">
		<div class="coluna margemDireitaG">
	       	<label for="abastecimento.dataHora" class= "obrigatorio">Data e Hora</label>
	    	<input type="text" name="abastecimento.dataHora" value="${abastecimento.dataHora?.format('dd/MM/yyyy HH:mm')}" size="16" class="dataHora" />
	       	<label for= "abastecimento.condutor.id" class= "obrigatorio">Condutor</label>
	        #{select 'abastecimento.condutor.id', 
					items:condutores, 
					labelProperty:'dadosParaExibicao', 
					value:abastecimento.condutor?.id}
					#{/select}
	       	<label for= "abastecimento.veiculo.id" class= "obrigatorio">Ve&iacute;culo</label>
	        #{select 'abastecimento.veiculo.id', 
					items:veiculos, 
					labelProperty:'dadosParaExibicao', 
					value:abastecimento.veiculo?.id}
					#{/select}
	       	<label for="abastecimento.odometroEmKm" class= "obrigatorio">Od&ocirc;metro (Km)</label>
	       	<input type="text" name="abastecimento.odometroEmKm" value="${abastecimento.odometroEmKm}" class="valor_numerico decimal"/>
		</div>
		<div class="coluna margemDireitaG">
 	       	<label for="abastecimento.tipoDeCombustivel" class= "obrigatorio">Tipo de Combust&iacute;vel</label>
	       	#{select 'abastecimento.tipoDeCombustivel',
					items:abastecimento.tipoDeCombustivel.tiposParaAbastecimento(),
					labelProperty:'descricao',
					value:abastecimento.tipoDeCombustivel}
					#{/select}
       	<label for="abastecimento.fornecedor.id" class= "obrigatorio">Fornecedor</label>
	        #{select 'abastecimento.fornecedor.id', 
					items:fornecedores, 
					labelProperty:'razaoSocial', 
					value:abastecimento.fornecedor?.id}
					#{/select}
	       	<label for="abastecimento.precoPorLitro" class= "obrigatorio">Pre&ccedil;o por litro (R$)</label>
	       	<input type="text" name="abastecimento.precoPorLitro" value="${abastecimento.precoPorLitro.formataValorExponencialParaDecimal()}" class="valor_numerico decimal" />
	        <label for="abastecimento.quantidadeEmLitros" class= "obrigatorio">Quantidade (litros)</label>
	        <input type="text" name="abastecimento.quantidadeEmLitros" value="${abastecimento.quantidadeEmLitros.formataValorExponencialParaDecimal()}" class="valor_numerico decimal"/>
	       	<input type="hidden" name="abastecimento.nivelDeCombustivel" value="A" />
		</div>
		<div class="coluna">
	       	<label for="abastecimento.valorTotalDaNotaFiscal" class= "obrigatorio">Valor da Nota Fiscal (R$) </label>
	       	<input type="text" name="abastecimento.valorTotalDaNotaFiscal" value="${abastecimento.valorTotalDaNotaFiscal.formataValorExponencialParaDecimal()}" class="valor_numerico decimal" />
	      	<label for="abastecimento.numeroDaNotaFiscal" class= "obrigatorio">N&uacute;mero da Nota Fiscal</label>
	       	<input type="text" name="abastecimento.numeroDaNotaFiscal" value="${abastecimento.numeroDaNotaFiscal}" class="valor_numerico""/>
		</div>
	</div>
	<span class="alerta menor">&{'views.erro.preenchimentoObrigatorio'}</span>
	<div class="gt-table-buttons">
		<input type="submit" value="&{'views.botoes.salvar'}" class="gt-btn-medium gt-btn-left" />
		<input type="button" value="&{'views.botoes.cancelar'}" onClick="javascript:location.href='@{Abastecimentos.listar()}'" class="gt-btn-medium gt-btn-left" />
	</div>
#{/form}