#{extends 'main.html' /} #{set title:'SIGA::Transportes' /}

<form id="formulario">
	<div class="gt-bd clearfix">
		<div class="gt-content clearfix">
			<h2>Abastecimentos</h2>
	
			#{if abastecimentos.size()>0}
			<div class="gt-content-box gt-for-table">
				<table id="htmlgrid" class="gt-table">
					<thead>
					<tr>
						<th>Data e Hora</th>
						<th>Tipo</th>
						<th>Qtd.(l)</th>
						<th>Pre&ccedil;o/litro (R$)</th>
						<th>Valor da NF (R$)</th>
						<th>Ve&iacute;culo</th>
						<th>Condutor</th>
						<th>Nota Fiscal</th>
						<th width="5%"></th>
						<th width="5%"></th>
					</tr>
					</thead>
					<tbody>
					#{list abastecimentos, as:'abastecimento'}
					<tr>
						<td>${abastecimento.dataHora.time.format('dd/MM/yyyy HH:mm')}</td>
						<td>${abastecimento.tipoDeCombustivel.descricao}</td>
						<td>${abastecimento.quantidadeEmLitros.formataMoedaBrasileiraSemSimbolo()}</td>
						<td>${abastecimento.precoPorLitro.formataMoedaBrasileiraSemSimbolo()}</td>
						<td>${abastecimento.valorTotalDaNotaFiscal.formataMoedaBrasileiraSemSimbolo()}</td>
						<td>${abastecimento.veiculo.placa}</td>
						<td>${abastecimento.condutor.dadosParaExibicao}</td>
						<td>${abastecimento.numeroDaNotaFiscal}</td>
						<td><a href="@{Abastecimentos.editar(abastecimento.id)}">Editar</a></td>
						<td><a class="lnkMotivoLog" href="@{Abastecimentos.excluir(abastecimento.id)}">Excluir</a></td>
					</tr>
					#{/list}
					</tbody>
				</table>
				<div id="pagination"/>
			</div>

			#{/if} #{else} <br />
			<h3>N&atilde;o existem abastecimentos cadastrados.</h3>
			#{/else}
			<div class="gt-table-buttons">
				<a href="@{Abastecimentos.incluir()}" class="gt-btn-medium gt-btn-left">&{'views.botoes.incluir'}</a>
			</div>
		</div>
	</div>	
	#{motivoLog /}
</form>