#{calendario /}
#{decimal /}
#{extends 'main.html' /}

#{set title:'SIGA-Transporte' /}

#{set mostrarBotoesEditar = true /}

#{set mostrarDadosProgramada = true /}

#{if missao.estadoMissao.equals("INICIADA")}
#{set mostrarDadosIniciada = true /} 
#{/if}

#{if missao.estadoMissao.equals("FINALIZADA")}
#{set mostrarDadosIniciada = true /} 
#{set mostrarDadosFinalizada = true /} 
#{/if}

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<h2>Editar Missão: ${missao.sequence}</h2>
		#{include 'Missoes/form.html' /}
	</div>
</div>