<script src="@{'/public/javascripts/jquery/jquery-ui-1.8.16.custom.min.js'}"></script>
#{erros}#{/erros}
<br />
<form id="formMissoes" method="post" enctype="multipart/form-data">
		<input type="hidden" id="missaoId" name="missao.id" value="${missao.id}" />
		<input type="hidden" id="veiculosDisp" name="veiculosDisp" value="" />		

	#{if mostrarDadosProgramada}
	<h3>Informa&ccedil;&otilde;es B&aacute;sicas</h3>
	<div id ="infbasicas" class="gt-content-box gt-form clearfix">     
       	<label for="" class="coluna">Estado:</label>
       	<p class="clearfix">${missao.estadoMissao}</p>
        #{if mostrarDadosFinalizada}
        	<div class="coluna margemDireitaG">
	        	<label for="distanciaPercorridaEmKm" >Dist&acirc;ncia Percorrida</label>
        		<input type="text" readonly="readonly" name="missao.distanciaPercorridaEmKm" value="${missao.distanciaPercorridaEmKm}" size="12" class="decimal"/>
			</div>
        	<div class="coluna margemDireitaG">
	        	<label for="tempoBruto">Tempo</label>
        		<input type="text" readonly="readonly" name="missao.tempoBruto" value="${missao.tempoBruto}" size="12" />
			</div>
        	<div class="coluna margemDireitaG">
	        	<label for="consumoEmLitros">Consumo (l)</label>
        		<input type="text" name="missao.consumoEmLitros" value="${missao.consumoEmLitros}" size="12" class="decimal" />
			</div>
        #{/if}
	</div>
	#{/if}

	<h3> Requisi&ccedil;&atilde;o(&otilde;es)</h3>
	    <script>
			function inserirLinhaTabela()
			{
				var table = document.getElementById("tbody");
				table.innerHTML = table.innerHTML; 
			}

			$(function() {
				$( "#dialog-form" ).dialog({
					autoOpen: false,
					height: 600,
					width: 850,
					modal: true,
					buttons: {
						"Ok": function() {			
							    inserirRequisicoesSelecionadas();
								 #{if (! missao?.id)}
								 	verificarMenorDataRequisicao();
								 #{/if}		
								$( this ).dialog( "close" );
						},
						Cancel: function() {
							$( this ).dialog( "close" );
						}
					},
					close: function() {
			
					}
				});

				$( "#btn-Incluir-Requisicoes" )
					.click(function() {
						$( "#dialog-form" ).dialog( "open" );
					});
			});

	    </script>
	    
		<div id ="gridRequisicoes" class="gt-content-box gt-for-table">  
		 	<table id="htmlgridRequisicoes" class="gt-table" >
		    	<thead>
		    	<tr style="font-weight: bold;">
		    		<th>Sa&iacute;da prevista</th>
		    		<th>Retorno previsto</th>
		    		<th>Dados da Requisi&ccedil;&atilde;o</th>
		    		<th width="8%"></th>
				</tr>
				</thead>
				<tbody id="tbody"> 
				#{if missao.requisicoesTransporte && missao.requisicoesTransporte.size() > 0}
                #{list missao.requisicoesTransporte, as:'requisicaoTransporte'}	
			   	<input type="hidden" name="requisicoesAntigas" readonly="readonly" value="${requisicaoTransporte.id}" class="requisicoes" />
			   	<input type="hidden" name="missao.inicioRapido" id="inicioRapido" value="${missao.inicioRapido}" />
			   	
                <tr id="row_${requisicaoTransporte.id}">
			   	    <input type="hidden" name='requisicoesSelecionadas' readonly="readonly" value="${requisicaoTransporte.id}" class="requisicoes" />
			   	    <input type="hidden" name='requisicoesSelecionadas1' readonly="readonly" value="${requisicaoTransporte.id}" class="requisicoes" />
			   	   	<td name="saidaDataReqSelecionada">${requisicaoTransporte.dataHoraSaidaPrevista?.format('dd/MM/yyyy HH:mm')}</td>
		    		<td>
		    		#{if requisicaoTransporte.dataHoraRetornoPrevisto != null}
		    			${requisicaoTransporte.dataHoraRetornoPrevisto?.format('dd/MM/yyyy HH:mm')}
		    		#{/if}
		    		#{else}
		    			N&atilde;o
		    		#{/else}
		    		</td>
			   	    <td>
			   	    	#{tp.tags.link requisicaoTransporte.descricaoCompleta,
		    		  	 			   parteTextoLink: requisicaoTransporte.sequence,
		    						   comando: @Requisicoes.buscarPelaSequence(requisicaoTransporte.sequence,true)}
		    			#{/tp.tags.link}
					</td>
					#{if (requisicaoTransporte.servicoVeiculo != null)}
						<input type="hidden" name="requisicoesSelecionadasVeiculo"  readonly="readonly" value="${requisicaoTransporte.servicoVeiculo.veiculo?.id}"/> 
					#{/if}	
			   	    <td width="8%" >
			   	    #{if (mostrarDadosIniciada || mostrarDadosFinalizada) && !mostrarBotoesIniciar && !mostrarBotoesIniciarRapido}
			   	    #{select 'requisicaoTransporte.ultimoEstado',
				    	items:models.EstadoRequisicao.valuesComboAtendimentoMissao(),
				    	labelProperty:'descricao',
				    	value:requisicaoTransporte.ultimoEstado}
					#{/select}
			   	    #{/if}
			   	    #{elseif (!mostrarDadosCancelada && !mostrarDadosIniciada && !mostrarDadosFinalizada) }
			   	    <a class="linkExcluir" name="linkExcluirSelecionados" style="display:inline" onclick="javascript:apagaLinha(this);" href="#">Excluir</a>
			   	    #{/elseif}
			   	    
			   	    </td>
				</tr>
                #{/list}
                #{/if}
                </tbody>
		     </table>
		</div>
	#{if !mostrarDadosFinalizada && !mostrarDadosIniciada}
	<div id ="btngridRequisicoes" class="gt-table-buttons">
	     <input type="button" id="btn-Incluir-Requisicoes" value="&{'views.botoes.incluir'}"  class="gt-btn-medium gt-btn-left btnSelecao" />
	</div>
	#{/if}
	<script type="text/javascript">
        $(function() {
			 #{if (! missao?.id)}
			 	verificarMenorDataRequisicao();
			 #{/if}
       

    	  var $mudouDataHoraSaida =  $('#inputdataHoraSaida').change( function() {
			   #{if (exibirMenuAdministrar || exibirMenuAdministrarMissao || exibirMenuAdministrarMissaoComplexo)}	
        	   if ($('#inputdataHoraSaida').val() != "") {	
	        	   verificarVeiculosRequisicao();
	    	       var listarVeiculosCondutoresDisp = #{jsAction @Missoes.listarVeiculosECondutoresDisponiveis(':nomePropriedadeVeiculo', ':nomePropriedadeCondutor', ':idMissao', ':dataHoraSaida', ':veiculoServico', ':inicioRapido') /}
	    		   $.get(
	     			   listarVeiculosCondutoresDisp({nomePropriedadeVeiculo: 'missao.veiculo.id', nomePropriedadeCondutor: 'missao.condutor.id',idMissao: $('#missaoId').val() ,dataHoraSaida: $('#inputdataHoraSaida').val(), veiculoServico: $('#veiculosDisp').val(), inicioRapido: $('#inicioRapido').val() }), 
	 		           function(html) {
	    			        var htmlarray = html.split("@");
		             	    $('#veiculosDisponiveis').html(htmlarray[0])
			                $('#condutoresDisponiveis').html(htmlarray[1])
			                $('#selveiculosdisponiveis').focus()
			                if($('#odometroSaidaEmKm').val() == "")
				            {
	    			  		   $('#odometroSaidaEmKm').val('0,00')
					        }
			      	   }
			   	   );
        	   }
        	   #{/if}
    	   });

      	   #{if missao.id == 0}
      		 $mudouDataHoraSaida.trigger('change'); 
      	   #{/if}
    	   

   		   if($("#lersomente").length != 0) {
				protegeDocumento();
   		   }

   		

   		if ($("#missao_estadoMissao").val() == "INICIADA") {

			protegeDocumento();
	  	    $('#infSaida').find('input, textarea, button, select').removeAttr('disabled');
	 	    $('#infRetorno').find('input, textarea, button, select').removeAttr('disabled');
		    $('#btnAcoes').find('input, textarea, button, select').removeAttr('disabled');
		    $('#inputdataHoraSaida').attr('disabled','disabled');
		    $('#veiculosDisponiveis').find('input, textarea, button, select').attr('disabled','disabled');
		    $('#condutoresDisponiveis').find('input, textarea, button, select').attr('disabled','disabled');
   		}
   		
   		if ($("#missao_estadoMissao").val() == "FINALIZADA") {
		    protegeDocumento();
	    	$('#btnVoltar').remove();
	    	$('#btnSalvar').remove();
   		}
   		
   		if ($("#missao_estadoMissao").val() == "CANCELADA") {
		    protegeDocumento();
	    	$('#btnVoltar').remove();
	    	$('#btnSalvar').remove();
   		}

       });
	</script>
	<br />
	
	<h3>Sa&iacute;da</h3>
	<div id ="infSaida" class="gt-content-box gt-form clearfix">     
	 	<div class="coluna margemDireitaG">
	       	<label for="inputdataHoraSaida" class="obrigatorio">Data/Hora</label>	
	       	<input type="text" id="inputdataHoraSaida" name="missao.dataHoraSaida" value="${missao.dataHoraSaida?.format('dd/MM/yyyy HH:mm')}" size="14" class="dataHora" />
	    	#{if mostrarDadosIniciada}
		       	<div>
					<label for="odometroSaidaEmKm" class="obrigatorio">Odômetro</label>
					<input id="odometroSaidaEmKm" type="text" name="missao.odometroSaidaEmKm" value="${missao.odometroSaidaEmKm}" size="12" class="decimal" />
		        	<label for="nivelCombustivelSaida" class="obrigatorio">N&iacute;vel Combust&iacute;vel</label>
					#{select 'missao.nivelCombustivelSaida',
			         		  items:missao.nivelCombustivelSaida.values(),
			         		  labelProperty:'descricao',
			         		  value:missao?.nivelCombustivelSaida}
				    #{/select}
		        	<label for="licenca" class="obrigatorio">Licen&ccedil;a</label>
					#{select 'missao.licenca',
			         		  items:missao.licenca.values(),
			         		  labelProperty:'descricao',
			         		  value:missao?.licenca}
				    #{/select}       	
		       	</div>
    		#{/if}
		</div>
	 	<div class="coluna margemDireitaG">
        	<label for="veiculosDisponiveis" class="obrigatorio">Veículo</label>
			<div id="veiculosDisponiveis">
				  #{if (!exibirMenuAdministrar && !exibirMenuAdministrarMissao && !exibirMenuAdministrarMissaoComplexo)}
	        		  #{select 'missao.veiculo.id', 
	        	        id:'selveiculosdisponiveis',
	        	        items:veiculos, 
	        	       	disabled:'disabled',
	        	        labelProperty:'dadosParaExibicao', 
	        		    value:missao.veiculo?.id}
				      #{/select}
        		  #{/if}	
        		  #{else}
					  #{select 'missao.veiculo.id', 
	        	        id:'selveiculosdisponiveis',
	        	        items:veiculos, 
	        	        labelProperty:'dadosParaExibicao', 
	        		    value:missao.veiculo?.id}
				      #{/select}
			      #{/else}
			</div>
	    	#{if mostrarDadosIniciada}
		       	<div>
		        	<label for="estepe" class="obrigatorio">Estepe</label>
					#{select 'missao.estepe',
			         		  items:missao.estepe.values(),
			         		  labelProperty:'resposta',
			         		  value:missao?.estepe}
				    #{/select}
		        	<label for="triangulos" class="obrigatorio">Tri&acirc;ngulo</label>
					#{select 'missao.triangulos',
			         		  items:missao.triangulos.values(),
			         		  labelProperty:'resposta',
			         		  value:missao?.triangulos}
				    #{/select}
		        	<label for="cartaoSeguro" class="obrigatorio">Cartão Seguro</label>
					#{select 'missao.cartaoSeguro',
			         		  items:missao.cartaoSeguro.values(),
			         		  labelProperty:'resposta',
			         		  value:missao?.cartaoSeguro}
				    #{/select}
					</td>
		       	</div>
	    	#{/if}	       	
		</div>
	 	<div class="coluna margemDireitaG">
        	<label for="condutoresDisponiveis" class="obrigatorio">Condutor</label>
			<div id="condutoresDisponiveis">
				  #{if (!exibirMenuAdministrar && !exibirMenuAdministrarMissao && !exibirMenuAdministrarMissaoComplexo)}				
					  #{select 'missao.condutor.id', 
	        	        id:'selcondutoresdisponiveis',
	        	        disabled: 'disabled',
	        	        items:condutores, 
	        	        labelProperty:'dadosParaExibicao', 
	        		    value:missao.condutor?.id}
				      #{/select}
			      #{/if}
			      #{else}
					  #{select 'missao.condutor.id', 
	        	        id:'selcondutoresdisponiveis',
	        	        items:condutores, 
	        	        labelProperty:'dadosParaExibicao', 
	        		    value:missao.condutor?.id}
				      #{/select}				      
			      #{/else}				
			</div>
    		#{if mostrarDadosIniciada}
		       	<div>
		       		<div class="coluna margemDireitaG">
			        	<label for="avariasAparentesSaida" class="obrigatorio">Avarias Aparentes</label>
						#{select 'missao.avariasAparentesSaida',
				         		  items:missao.avariasAparentesSaida.values(),
				         		  labelProperty:'resposta',
				         		  value:missao?.avariasAparentesSaida}
					    #{/select}
			        	<label for="extintor" class="obrigatorio">Extintor</label>
						#{select 'missao.extintor',
				         		  items:missao.extintor.values(),
				         		  labelProperty:'resposta',
				         		  value:missao?.extintor}
					    #{/select}
			        	<label for="cartaoAbastecimento" class="obrigatorio">Cartão Abastecimento</label>
						#{select 'missao.cartaoAbastecimento',
				         		  items:missao.cartaoAbastecimento.values(),
				         		  labelProperty:'resposta',
				         		  value:missao?.cartaoAbastecimento}
					    #{/select}
		       		</div>
		       		<div class="coluna">
						<label for="limpeza" class="obrigatorio">Limpeza</label>
						#{select 'missao.limpeza',
				         		  items:missao.limpeza.values(),
				         		  labelProperty:'resposta',
				         		  value:missao?.limpeza}
					    #{/select}
						<label for="ferramentas" class="obrigatorio">Ferramentas</label>
						#{select 'missao.ferramentas',
				         		  items:missao.ferramentas.values(),
				         		  labelProperty:'resposta',
				         		  value:missao?.ferramentas}
					    #{/select}
			        	<label for="cartaoSaida" class="obrigatorio">Cartão Saída</label>
						#{select 'missao.cartaoSaida',
				         		  items:missao.cartaoSaida.values(),
				         		  labelProperty:'resposta',
				         		  value:missao?.cartaoSaida}
					    #{/select}
		       		</div>	       		
		       	</div>
			#{/if}
		</div>		
	</div>
	#{if mostrarDadosFinalizada}
	<h3> Retorno</h3>
	<div id ="infRetorno" class="gt-content-box gt-form clearfix">
		<div class="clearfix">
			<div class="coluna margemDireitaG">     
	        	<label for="inputdataHoraRetorno" class="obrigatorio">Data/Hora</label>
	       		<input type="text" id="inputdataHoraRetorno" name="missao.dataHoraRetorno" value="${missao.dataHoraRetorno?.format('dd/MM/yyyy HH:mm')}" size="14" class="dataHora" />
		        <label for="nivelCombustivelRetorno" class="obrigatorio">Combustivel</label>
				#{select 'missao.nivelCombustivelRetorno',
		         		  items:missao.nivelCombustivelRetorno.values(),
		         		  labelProperty:'descricao',
		         		  value:missao?.nivelCombustivelRetorno}
			    #{/select}
			</div>
			<div class="coluna">     
		    	<label for="odometroRetornoEmKm" class="obrigatorio">Odômetro</label>
	       		<input type="text" name="missao.odometroRetornoEmKm" value="${missao.odometroRetornoEmKm}" size="12" class="decimal" />
		        <label for="avariasAparentesRetorno" class="obrigatorio">Avarias Aparentes</label>
				#{select 'missao.avariasAparentesRetorno',
		         		  items:missao.avariasAparentesRetorno.values(),
		         		  labelProperty:'resposta',
		         		  value:missao?.avariasAparentesRetorno}
			    #{/select}
			</div>
		</div>
		<label for="ocorrencias" class="obrigatorio">Ocorrências</label>
		<textarea name="missao.ocorrencias" rows="7" cols="80">${missao?.ocorrencias}</textarea>
		<label for="itinerarioCompleto" class="obrigatorio">Itinerário Completo</label>
		<textarea name="missao.itinerarioCompleto" rows="7" cols="80">${missao?.itinerarioCompleto}</textarea>
	</div>
	#{/if}
	<span class="alerta menor">&{'views.erro.preenchimentoObrigatorio'}</span>
	
	<script> 

		function verificarVeiculosRequisicao() {
			var idVeiculo = "";
			
			$("[name='requisicoesSelecionadasVeiculo']").each(function() {
				$input = $(this), valor = $input.attr('value');
				idVeiculo += valor + ", ";	
			});

			$('#veiculosDisp').val(idVeiculo);
		}

		 function protegeDocumento() { 
	    	   $('#infbasicas').find('input, textarea, button, select').attr('disabled','disabled');
	    	   $('#gridRequisicoes').find('input, textarea, button, select').attr('disabled','disabled');
	    	   $('#btngridRequisicoes').find('input, textarea, button, select').attr('disabled','disabled');
	    	   $('#infSaida').find('input, textarea, button, select').attr('disabled','disabled');
	    	   $('#infRetorno').find('input, textarea, button, select').attr('disabled','disabled');
	    	   $('#btnAcoes').find('input, textarea, button, select').attr('disabled','disabled');
	    	   
	    	   $('.linkExcluir').attr('disabled', 'disabled');	
		 }

		 function desprotegeDocumento() { 
	    	   $('#infbasicas').find('input, textarea, button, select').removeAttr('disabled');
	    	   $('#gridRequisicoes').find('input, textarea, button, select').removeAttr('disabled');
	    	   $('#btngridRequisicoes').find('input, textarea, button, select').removeAttr('disabled');
	    	   $('#infSaida').find('input, textarea, button, select').removeAttr('disabled');
	    	   $('#infRetorno').find('input, textarea, button, select').removeAttr('disabled');
	    	   $('#btnAcoes').find('input, textarea, button, select').removeAttr('disabled');
	    	   
	    	   $('.linkExcluir').attr('disabled', 'disabled');	
		 }

		 function submitForm(acao) {
	    // You can do things here such as validate the form
	     // return false; if the form is not valid
	        $("#formMissoes").attr('action',acao);
	        
			var x = 0;
			var y = 0;
			var z = 0;

			$("[name='requisicoesSelecionadas']").each(function() {
				$(this).attr('name', 'missao.requisicoesTransporte[' + x + '].id');
				x++;
			});

			$("[name='requisicoesSelecionadas1']").each(function() {
				$(this).attr('name', 'requisicoesTransporte_alt[' + y + '].id');
				y++;
			});

			$("[name='requisicoesAntigas']").each(function() {
				$(this).attr('name', 'requisicoesTransporte_ant[' + z + '].id');
				z++;
			});

			verificarVeiculosRequisicao();
			
			$("#formMissoes").submit();
		}

		function inserirRequisicoesSelecionadas() {
			var chkRequisicoes = document.getElementsByName("chk");
			var html = "";
				
			for (var i = 0; i < chkRequisicoes.length; i++)
			{
				if (chkRequisicoes[i].checked) {
					chkRequisicoes[i].setAttribute("checked", "false");
					var trRequisicoes = chkRequisicoes[i].parentNode.parentNode;
					var tdChkRequisicoes = chkRequisicoes[i].parentNode;
					trRequisicoes.removeChild(tdChkRequisicoes);
					i--;
					var htmlSelecionado = trRequisicoes.outerHTML;
					htmlSelecionado = htmlSelecionado.replace(/NaoSelecionad/g,"Selecionad");
 					var htmlSelecionadoEExcluir = htmlSelecionado.replace("none","inline");
 					html = html + htmlSelecionadoEExcluir;
					var tbody = trRequisicoes.parentNode; 
					tbody.removeChild(trRequisicoes);
				}
			}

			$("#htmlgridRequisicoes tbody" ).append(html);	
		}

		function verificarMenorDataRequisicao() {

			menorData = "";
			
			$("[name='saidaDataReqSelecionada']").each(function() {
				if(menorData!="" && !(menorData.match(/^\s+$/))){
					menorData = compararDatas($(this).html(),menorData);
				}
				else {
					menorData = $(this).html();
				}
			});
			
			$("#inputdataHoraSaida").attr("value", menorData);
			$("#inputdataHoraSaida").trigger('change');
		}

		function compararDatas(obj1, obj2) {
			return (stringToDate(obj1) >= stringToDate(obj2) ? obj2 : obj1);
		}

		function stringToDate(s)  {
			  s = s.split(/[/: ]/);
			  return new Date(s[2], s[1]-1, s[0], s[3], s[4]);
		}
		
		function apagaLinha(link) {
	    	
	    	if ($(link).attr('disabled')) {
				return false;
		    } 
	    		
			var html = "";
			if(confirm('Tem certeza de que deseja excluir esta requisicao da missao?')) {
				var trExcluir = link.parentNode.parentNode;
				var trIncluir = "#" + trExcluir.id;
				$( trIncluir ).prepend('<td><input type="checkbox"  name="chk"/></td>');
				var htmlSelecionado = trExcluir.outerHTML.replace(/Selecionad/g,"NaoSelecionad");
					var htmlSelecionadoEExcluir = htmlSelecionado.replace("inline","none");
					html = html + htmlSelecionadoEExcluir;	
				$( "#htmlgridselrequisicoes tbody" ).append(html);	
				var tabela = trExcluir.parentNode;
				tabela.removeChild(trExcluir);

			}
		}

	</script>
	
	#{if mostrarBotoesEditar}
	<div id="btnAcoes" class="gt-table-buttons">
		<input type="button" id="btnSalvar" value="&{'views.botoes.salvar'}" onClick="submitForm('@{Missoes.salvar()}')" class="gt-btn-medium gt-btn-left" />
		#{if missao.id > 0}
		<input type="button" id="btnVoltar"  value="&{'views.botoes.voltar'}" onClick="javascript:location.href='@{Missoes.buscarPelaSequence(missao.sequence)}'" class="gt-btn-medium gt-btn-left" />
		#{/if}
		#{else}
		<input type="button" id="btnVoltar"  value="&{'views.botoes.voltar'}" onClick="javascript:location.href='@{Missoes.listar}'" class="gt-btn-medium gt-btn-left" />
		#{/else}
	</div>
	#{/if}
	
	#{if mostrarBotoesIniciarRapido}
	<div id="btnAcoes" class="gt-table-buttons">
		<input type="button" id="btnIniciar" value="&{'views.botoes.iniciar'}" onClick="submitForm('@{Missoes.iniciarMissaoRapido()}')" class="gt-btn-medium gt-btn-left" />
		<input type="button" id="btnVoltar"  value="&{'views.botoes.voltar'}" onClick="javascript:location.href='@{Missoes.buscarPelaSequence(missao.sequence)}'" class="gt-btn-medium gt-btn-left" />
	</div>
	#{/if}

	#{if mostrarBotoesIniciar}
	<div id="btnAcoes" class="gt-table-buttons">
		<input type="button" id="btnIniciar" value="&{'views.botoes.iniciar'}" onClick="submitForm('@{Missoes.iniciarMissao()}')" class="gt-btn-medium gt-btn-left" />
		<input type="button" id="btnVoltar"  value="&{'views.botoes.voltar'}" onClick="javascript:location.href='@{Missoes.buscarPelaSequence(missao.sequence)}'" class="gt-btn-medium gt-btn-left" />
	</div>
	#{/if}

	#{if mostrarBotoesFinalizar}
	<div id="btnAcoes" class="gt-table-buttons">
		<input type="button" id="btnFinalizar" value="&{'views.botoes.finalizar'}" onClick="submitForm('@{Missoes.finalizarMissao()}')" class="gt-btn-medium gt-btn-left" />
		<input type="button" id="btnVoltar"  value="&{'views.botoes.voltar'}" onClick="javascript:location.href='@{Missoes.buscarPelaSequence(missao.sequence)}'" class="gt-btn-medium gt-btn-left" />
	</div>
	#{/if}

</form>

	<div id="dialog-form" title="Seleção de requisições" class="gt-form">
		<p>Selecione uma ou mais requisições.</p>
		<form>
#{if requisicoesTransporte && requisicoesTransporte.size() > 0}

		<div class="gt-content-box gt-for-table">     
		 	<table id="htmlgridselrequisicoes" class="gt-table" >
		    	<thead>
		    	<tr style="font-weight: bold;">
		    		<th width="5%"></th>
		    	    <th width="5%">Saida</th>
			   		<th width="5%">Retorno</th>
			   		<th >Outros Dados</th>
		    		<th width="8%"></th>
				</tr>
				</thead>
				<tbody id="tbodysel">
#{list requisicoesTransporte, as:'requisicaoTransporte'}
			   	<tr id="row_${requisicaoTransporte.id}">
			   		<td id="tdChkReq_${requisicaoTransporte.id}"><input type="checkbox"  name="chk"/></td>	
			   		<input type="hidden" name="requisicoesNaoSelecionadas" readonly="readonly" value="${requisicaoTransporte.id}"/>
			   		<input type="hidden" name="requisicoesNaoSelecionadas1" readonly="readonly" value="${requisicaoTransporte.id}"/>
		    		<td name="saidaDataReqNaoSelecionada">${requisicaoTransporte.dataHoraSaidaPrevista?.format('dd/MM/yyyy HH:mm')}</td>
		    		<td>
		    		#{if requisicaoTransporte.dataHoraRetornoPrevisto != null}
		    			${requisicaoTransporte.dataHoraRetornoPrevisto?.format('dd/MM/yyyy HH:mm')}
		    		#{/if}
		    		#{else}
		    			N&atilde;o
		    		#{/else}
		    		</td>
			   	    <td>
			   	    	#{tp.tags.link requisicaoTransporte.descricaoCompleta,  
		    		  	 			   parteTextoLink: requisicaoTransporte.sequence,
		    						   comando: @Requisicoes.buscarPelaSequence(requisicaoTransporte.sequence,true)}
		    			#{/tp.tags.link}
					</td>
					#{if (requisicaoTransporte.servicoVeiculo != null)}
						<input type="hidden" name="requisicoesNaoSelecionadasVeiculo"  readonly="readonly" value="${requisicaoTransporte.servicoVeiculo.veiculo?.id}"/> 
					#{/if}	
			   	    <td  width="8%" >
			   	    #{if (mostrarDadosIniciada || mostrarDadosFinalizada) && !mostrarBotoesIniciar}
			   	    <div style="display: none;">
			   	    #{select 'requisicaoTransporte.ultimoEstado',
				    	items:estadoRequisicao.valuesComboAtendimentoMissao(),
				    	labelProperty:'descricao',
				    	value:requisicaoTransporte.ultimoEstado}
					#{/select}
					</div>
			   	    #{/if}
			   	    #{elseif !mostrarDadosCancelada}
			   	    <a class="linkExcluir" name="linkExcluirNaoSelecionados" style="display:none" onclick="javascript:apagaLinha(this);" href="#">Excluir</a>
			   	    #{/elseif}
			   	    </td>	    		
				</tr>
				
#{/list}
			 </tbody>
		     </table>   
		</div>
#{/if}
		</form>
		
	</div>
