	   	<p class="gt-table-action-list">
	   		#{if menuMissaoEditar} <a class="once"
				href="@{Missoes.editar(missao.id)}"> <img
				src="/sigatp/public/images/editaricon.png"
				style="margin-right: 5px;">Editar Miss&atilde;o</a>&nbsp;&nbsp;&nbsp;
			#{/if}
	   		#{if menuMissaoCancelar} <a class="once"
				href="@{Missoes.cancelar(missao.id)}"> <img
				src="/sigatp/public/images/canceledmicon.png"
				style="margin-right: 5px;">Cancelar Miss&atilde;o</a>&nbsp;&nbsp;&nbsp;
			#{/if}
	   		#{if menuMissaoIniciar} <a class="once"
				href="@{Missoes.iniciar(missao.id)}"> <img
				src="/sigatp/public/images/iniciaricon.png"
				style="margin-right: 5px;">Iniciar Miss&atilde;o</a>&nbsp;&nbsp;&nbsp;
			#{/if}
	   		#{if menuMissaoFinalizar} <a class="once"
				href="@{Missoes.finalizar(missao.id)}"> <img
				src="/sigatp/public/images/finalizaricon.png"
				style="margin-right: 5px;">Finalizar Miss&atilde;o</a>&nbsp;&nbsp;&nbsp;
			#{/if}
	   		<a class="once" href="@{Missoes.listarFiltrado(missao.estadoMissao)}">
	   		<img src="/sigatp/public/images/linkvoltaricon.png" style="margin-right: 5px;">Voltar para a lista
	   		</a>
		</p>