#{extends 'main.html' /}

#{set title:'SIGA-Transporte' /}

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<h2>Escalas de Trabalho</h2>

#{if escalas.size() > 0}
		<div class="gt-content-box gt-for-table">
		 	<table id="htmlgrid" class="gt-table" >
		    	<tr style="font-weight: bold;">
		    	    <th width="15%">In&iacute;cio</th>
			   		<th width="15%">Fim</th>
			   		<th width="14%">Segunda</th>
			   		<th width="14%">Ter&ccedil;a</th>
			   		<th width="14%">Quarta</th>
			   		<th width="14%">Quinta</th>
			   		<th width="14%">Sexta</th>
				</tr>
	#{list escalas, as:'item'}
			   	<tr>
		    	    <td>${item.dataInicio}</td>
		    		<td>${item.dataFim}</td>
		    		<td>${item.telefoneInstitucional}<br/>${item.celularInstitucional}</td>
		    		<td>${item.telefonePessoal}<br/>${item.celularPessoal}</td>
		    		<td>Cat. ${item.categoriaCNH.toString()}
		    		<br/>
		    		#{if item.vencimentoCNHExpirado}<span style="color: red; font-weight: bolder;">#{/if}
		    		${item.dataVencimentoCNH?.format('dd/MM/yyyy')}
					#{if item.vencimentoCNHExpirado}</span>#{/if}
		    		</td>
		    		<td><a href="@{Condutores.editar(item.id)}">Editar</a></td>
		    		<td><a onclick="javascript:return confirm('Tem certeza de que deseja excluir os dados deste condutor?');" href="@{Condutores.excluir(item.id)}">Excluir</a></td>
				</tr>
	#{/list}
		     </table>
		</div>
#{/if}
#{else}
<br/><h3>N&atilde;o existem escalas de trabalho cadastradas para este condutor.</h3>
#{/else}
<div class="gt-table-buttons">
	<a href="@{EscalasDeTrabalho.incluir()}" class="gt-btn-medium gt-btn-left">&{'views.botoes.incluir'}</a>
</div>
	</div>
</div>
