﻿#{extends 'main.html' /}
#{erros}#{/erros}

#{set title:'SIGA-Transporte' /}

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<h2>Condutores</h2>

		#{if condutores.size() > 0}
		<div  class="gt-content-box gt-for-table">
		 	
		 	<table id="htmlgrid" class="gt-table" >
		    	<thead>
		    	<tr>
		    	    <th width="7%">Matr.</th>
			   		<th width="25%">Nome</th>
			   		<th width="15%">Tel. Inst.</th>
			   		<th width="15%">Tel. Part.</th>
			   		<th width="20%">CNH</th>
			   		<th width="5%"></th>
			   		<th width="5%"></th>
				</tr>
				</thead>
				<tbody>
		#{list condutores, as:'item'}
			   	<tr>
		    	    <td>${item.matricula}</td>
		    		<td>${item.dpPessoa.nomePessoaAI}</td>
		    		<td>${item.telefoneInstitucional}<br/>${item.celularInstitucional}</td>
		    		<td>${item.telefonePessoal}<br/>${item.celularPessoal}</td>
		    		<td>Cat. ${item.categoriaCNH.toString()}
		    		<br/>
		    		#{if item.vencimentoCNHExpirado}<span class="alerta">#{/if}
		    		${item.dataVencimentoCNH?.format('dd/MM/yyyy')}
					#{if item.vencimentoCNHExpirado}</span>#{/if}
		    		</td>
		    		<td><a href="@{Condutores.editar(item.id)}">Editar</a></td>
		    		<td><a onclick="javascript:return confirm('Tem certeza de que deseja excluir os dados deste condutor?');" href="@{Condutores.excluir(item.id)}">Excluir</a></td>
				</tr>
		#{/list}
			 </tbody>
		     </table>
		 <div id="pagination"/>
		</div>
		
				    
#{/if}
#{else}
<br/><h3>N&atilde;o existem condutores cadastrados.</h3>
#{/else}
<div class="gt-table-buttons">
	<a href="@{Condutores.incluir()}" id="botaoIncluirCondutor" class="gt-btn-medium gt-btn-left">&{'views.botoes.incluir'}</a>
</div>
	</div>
</div>
