﻿#{extends 'main.html' /}
#{erros}#{/erros}

#{set title:'SIGA-Transporte' /}

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<h2>Finalidades</h2>
		
#{include 'Finalidades/menu.html' /}

		#{if finalidades.size() > 0}
		<div class="gt-content-box gt-for-table">
		 	<table id="htmlgrid" class="gt-table" >
		    	<tr>
		    	    <th width="100%">Descri&ccedil;&atilde;o</th>
				</tr>
		#{list finalidades, as:'item'}
			   	<tr>
		    	    <td>${item.descricao}</td>
				</tr>
		#{/list}
		     </table>
		</div>
#{/if}
#{else}
<br/><h3>N&atilde;o existem finalidades cadastradas.</h3>
#{/else}
<div class="gt-table-buttons">
	<a href="@{Finalidades.incluir()}" id="botaoIncluirFinalidade" class="gt-btn-medium gt-btn-left">&{'views.botoes.incluir'}</a>
</div>
	</div>
</div>
