<link rel="stylesheet" href="@{'/public/stylesheets/andamentos.css'}" type="text/css" media="screen"/>

	   	<p class="gt-table-action-list">
	   		#{if menuFinalidadesMostrarVoltar} 
	   			<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_Voltar"
				href="@{Finalidades.listar()}"></a><a href="@{Finalidades.listar()}">Voltar</a>&nbsp;&nbsp;&nbsp;
			#{/if}
	   		#{if menuFinalidadesMostrarTodas} 
	   			<img src="/sigatp/public/images/filter-icon.png"/><a class="filtro_T"
				href="@{Finalidades.listarTodas()}"></a><a href="@{Finalidades.listarTodas()}"><U>T</U>odas</a>&nbsp;&nbsp;&nbsp;
			#{/if}
		</p>