<script src="@{'/public/javascripts/jquery/jquery-ui-1.8.16.custom.min.js'}"></script>
<script src="@{'/public/javascripts/jquery/jquery-1.6.4.min.js'}"></script>

#{erros}#{/erros}
#{decimal /}
#{form @Penalidades.salvar(), enctype:'multipart/form-data', id:'formPenalidade' }
	<div class="gt-content-box gt-form"> 
		<label for="penalidade.codigoInfracao" class="obrigatorio">C&oacute;digo Infra&ccedil;&atilde;o:</label>
		<input type="text" name="penalidade.codigoInfracao" value="${penalidade.codigoInfracao}" />

		<label for="penalidade.descricaoInfracao" class="obrigatorio">Descri&ccedil;&atilde;o Infra&ccedil;&atilde;o:</label>
		<input type="text" size=100 name="penalidade.descricaoInfracao" value="${penalidade.descricaoInfracao}" />

		<label for="penalidade.artigoCTB" class="obrigatorio">Artigo do CTB:</label>
		<input type="text" name="penalidade.artigoCTB" value="${penalidade.artigoCTB}" />

		<label for="penalidade.valor" class="obrigatorio">Valor:</label>
		<input type="text" id="valor" name="penalidade.valor" value="${penalidade.valor}" class="valor_numerico decimal"/>

		<label for="penalidade.infrator" class="obrigatorio">Tipo de Infrator:</label>
		#{select 'penalidade.infrator',
				items:penalidade.infrator?.values(), labelProperty:'descricao',
				value:penalidade?.infrator}
		#{/select}
		
		<label for="penalidade.classificacao" class= "obrigatorio">Classifica&ccedil;&atilde;o:</label>
		#{select 'penalidade.classificacao',
				items:penalidade.classificacao?.values(), labelProperty:'descricao',
				value:penalidade?.classificacao} #{/select}	
				
        <input type="hidden" name="penalidade.id" value="${penalidade.id}"/>
	</div>
	<span class="alerta menor">* Preenchimento obrigat&oacute;rio</span>
	<div class="gt-table-buttons">
		<input type="submit" value="Salvar" class="gt-btn-medium gt-btn-left" />
		<input type="button" value="Cancelar" class="gt-btn-medium gt-btn-left" onclick="javascript:window.location = '@{Penalidades.listar()}';" />
	</div>

#{/form}
