#{include 'Requisicoes/menu.html' /}
#{erros}#{/erros}
#{form @Requisicoes.salvar(), enctype:'multipart/form-data',id:'formRequisicoes' }
		<script>

		 </script>
		<input type="hidden" name="requisicaoTransporte.id" value="${requisicaoTransporte.id}" />
		<input type="hidden" name="requisicaoTransporte.idSolicitante" value="${requisicaoTransporte.idSolicitante}" />
					
		<h3>Informações Básicas</h3>
		<div id="infbasicas" class="gt-content-box gt-form clearfix">     	
	 		#{if requisicaoTransporte.id != 0}
	        	<label>Solicitante / Fun&ccedil;&atilde;o / Lota&ccedil;&atilde;o:</label>
	        	<h5>${requisicaoTransporte.solicitante?.nomePessoaAI} - ${requisicaoTransporte.solicitante?.funcaoConfianca?.nmFuncaoConfiancaAI} - ${requisicaoTransporte.solicitante?.lotacao?.nomeLotacaoAI} </h5>
	        	<label>Data de Inclus&atilde;o:</label>
	        	<h5>${requisicaoTransporte.dataHora?.format('dd/MM/yyyy HH:mm')}</h5>
	        #{/if}
			<div class="coluna">	        
		       	<label class="obrigatorio">Tipo</label>        
	       		#{select 'requisicaoTransporte.tipoRequisicao',
		          		  items:requisicaoTransporte.tipoRequisicao.values(),
		          		  labelProperty:'descricao',
		          		  disabled:'disabled', 
		          		  value:requisicaoTransporte.tipoRequisicao}
				#{/select}
				<input type="hidden" name="requisicaoTransporte.tipoRequisicao" value="${requisicaoTransporte.tipoRequisicao}">
	        	<label class="obrigatorio">Sa&iacute;da Prevista</label>
        		<input type="text" name="requisicaoTransporte.dataHoraSaidaPrevista" value="${requisicaoTransporte.dataHoraSaidaPrevista?.format('dd/MM/yyyy HH:mm')}" size="14" class="dataHora" /> <br/>
        		<input type="checkbox" id="checkRetorno" name="checkRetorno" ${checkRetorno?'checked':''}>
	        	<label>Deseja programar o retorno?</label>
		        <div id="trRetorno" class="indentado clearfix">
		        	<label>Retorno Previsto</label>
	        		<input type="text" id="dataHoraRetornoPrevisto" name="requisicaoTransporte.dataHoraRetornoPrevisto" value="${requisicaoTransporte.dataHoraRetornoPrevisto?.format('dd/MM/yyyy HH:mm')}" size="14" class="dataHora" />
		        </div>
		        <div id="espacoRetorno" class="margemInferior"></div>
	        	<label class="obrigatorio">Finalidade</label>
		       		#{select 'requisicaoTransporte.tipoFinalidade.id',
			          		  items:finalidades,
			          		  labelProperty:'descricao',
			          		  value:requisicaoTransporte.tipoFinalidade?.id}
					#{/select}
	        	<label>Detalhes da finalidade</label>
	        	<textarea name="requisicaoTransporte.finalidade" rows="10" cols="60">${requisicaoTransporte.finalidade}</textarea>
			</div>
			<div class="coluna">	        
	        	<label class="obrigatorio">Itiner&aacute;rio</label>
		        <textarea name="requisicaoTransporte.itinerarios" rows="6" cols="60">${requisicaoTransporte.itinerarios}</textarea>
		        <div>
					<input type="checkbox" id="checkSemPassageiros" name="checkSemPassageiros" ${checkSemPassageiros?'checked':''}>
		        	<label class="obrigatorio">Sem passageiros</label>
				</div>
		        <div class="margemInferior"></div>
		    	<div id="trPassageiros" class="clearfix">
		        	<label class="obrigatorio">Tipo de passageiros</label>
					<h6> (&eacute; poss&iacute;vel selecionar mais de um usando a tecla "Ctrl")</h6>
					<select id="tiposDePassageiros" name="tiposDePassageiros" multiple size="5" title="caso necess&aacute;rio selecione mais de um usando a tecla 'Ctrl'">
						#{list tipoDePassageiro.valuesParaComboRequisicao(), as:'tipo'}
							<option value="${tipo}"#{if requisicaoTransporte.contemTipoDePassageiro(tipo)} selected="selected"#{/if}>${tipo.descricao}</option>
						#{/list}
					</select>
		        	<label class="obrigatorio">Passageiros</label>
			        <textarea name="requisicaoTransporte.passageiros" id="passageiros" rows="6" cols="60">${requisicaoTransporte.passageiros}</textarea>
				</div>
			</div>
		</div>
		<br/>
	
	#{if !esconderBotoes}
	
	<span class="alerta menor">&{'views.erro.preenchimentoObrigatorio'}</span>
	<div id="btnAcoes" class="gt-table-buttons">
		<input id="btnSalvar" type="submit" value="&{'views.botoes.salvar'}" class="gt-btn-medium gt-btn-left" />
		#{if requisicaoTransporte.id > 0}
		<input type="button" id="btnVoltar"  value="&{'views.botoes.voltar'}" onClick="javascript:location.href='@{Requisicoes.buscarPelaSequence(requisicaoTransporte.sequence)}'" class="gt-btn-medium gt-btn-left" />
		#{/if}
		#{else}
		<input type="button" id="btnVoltar"  value="&{'views.botoes.voltar'}" onClick="javascript:location.href='@{Requisicoes.listar}'" class="gt-btn-medium gt-btn-left" />
		#{/else}
	</div>
	
	#{/if}
#{/form}

<script type="text/javascript">
	$(document).ready(function() {

		function protegeDocumento() { 
			$('#infbasicas').find('input, textarea, button, select').attr('disabled','disabled');
		}

		function exibirOuOcultarTxtRetorno() {
		    if($('#checkRetorno').is(":checked")) {
		    	$('#trRetorno').show(250);
		    } else {
		    	$('#dataHoraRetornoPrevisto').val('');
		    	$('#trRetorno').hide(250);
		    }
	    }
	    
		function exibirOuOcultarTxtPassageiros() {
		    if($('#checkSemPassageiros').is(":checked")) {
		    	$('#passageiros').val('');
		    	$('#tiposDePassageiros').val('');
		    	$('#trPassageiros').hide(250);
		    } else {
		    	$('#trPassageiros').show(250);
		    }
	    }
	    
		function habilitarOuDesabilitarTiposPassageiro() {
		    if($('#checkSemPassageiros').is(":checked")) {
		    	$("#tiposDePassageiros").attr("disabled", "disabled");
		    } else {
		    	$("#tiposDePassageiros").removeAttr("disabled");
		    }
	    }
	    
	    $('#checkRetorno').change(exibirOuOcultarTxtRetorno);
	    $('#checkSemPassageiros').change(exibirOuOcultarTxtPassageiros);

	    exibirOuOcultarTxtRetorno();
	    exibirOuOcultarTxtPassageiros();

	    if($("#lersomente").length != 0) {
			protegeDocumento();
		}
	});


 


</script>