	   	<p class="gt-table-action-list">
	   		#{if menuRequisicoesIncluir} <a class="once"
				href="@{Requisicoes.incluir()}"> <img
				src="/sigatp/public/images/editaricon.png"
				style="margin-right: 5px;">Incluir Requisição</a>&nbsp;&nbsp;&nbsp;
			#{/if}
			#{if menuRequisicoesEditar} <a class="once"
				href="@{Requisicoes.editar(idRequisicao)}"> <img
				src="/sigatp/public/images/editaricon.png"
				style="margin-right: 5px;">Editar Requisição</a>&nbsp;&nbsp;&nbsp;
			#{/if}
			<!--  	href="@{Veiculos.listarAvarias(idVeiculo)}"> -->
			#{if menuRequisicoesAutorizar} <a class="once"
				href="@{Andamentos.autorizar(idRequisicao)}"> <img 
				src="/sigatp/public/images/approvedicon.png"
				style="margin-right: 5px;">Autorizar</a>&nbsp;&nbsp;&nbsp;
			#{/if}
			#{if menuRequisicoesRejeitar} <a class="once"
				href="@{Andamentos.rejeitar(idRequisicao)}"> <img 
				src="/sigatp/public/images/rejectedicon.png"
				style="margin-right: 5px;">Rejeitar</a>&nbsp;&nbsp;&nbsp;
			#{/if}
			#{if menuRequisicoesCancelar} <a class="once"
				href="@{Andamentos.cancelar(idRequisicao)}"> <img 
				src="/sigatp/public/images/canceledmicon.png"
				style="margin-right: 5px;">Cancelar</a>&nbsp;&nbsp;&nbsp;
			#{/if}
			#{if menuRequisicoesListarAndamentos} <a class="once"
				href="@{Andamentos.listarPorRequisicao(idRequisicao, popUp)}"> <img 
				src="/sigatp/public/images/listandamentosicon.png"
				style="margin-right: 5px;">Andamentos</a>&nbsp;&nbsp;&nbsp;
			#{/if}
			#{if menuRequisicoesMostrarRequisicao} <a class="once"
				href="@{Requisicoes.buscarPelaSequence(requisicaoTransporte.sequence, true)}"> <img 
				src="/sigatp/public/images/requisicaoicon.png"
				style="margin-right: 5px;">Requisi&ccedil;&atilde;o</a>&nbsp;&nbsp;&nbsp;
			#{/if}
		</p>