#{erros}#{/erros}
#{form @Andamentos.salvar(), enctype:'multipart/form-data',id:'formAndamentos' }
		<input type="hidden" name="andamento.requisicaoTransporte.id" value="${andamento.requisicaoTransporte.id}" />
		<input type="hidden" name="andamento.estadoRequisicao" value="${andamento.estadoRequisicao}" />
	<h3> A requisi&ccedil;&atilde;o ${andamento.requisicaoTransporte.sequence} ser&aacute; ${andamento.estadoRequisicao}</h3>
	<div class="gt-content-box gt-form clearfix">	
		#{if andamento.estadoRequisicao == andamento.estadoRequisicao.AUTORIZADA}
	       	<label for="andamento.descricao">Motivo</label>
		#{/if}
		#{else}
	       	<label for="andamento.descricao" class= "obrigatorio">Motivo</label>
		#{/else}
        	<textarea name="andamento.descricao" rows="5" cols="80">${andamento.descricao}</textarea>
	</div>
	<br/>
	#{if andamento.estadoRequisicao != andamento.estadoRequisicao.AUTORIZADA}
		<span class="alerta menor">* Preenchimento obrigat&oacute;rio</span>
	#{/if}
	<div class="gt-table-buttons">
		<input type="submit" value="${botaoAcao}" class="gt-btn-medium gt-btn-left" />
		#{if andamento.estadoRequisicao == andamento.estadoRequisicao.CANCELADA}
		<input type="button" value="&{'views.botoes.voltar'}" onClick="javascript:location.href='@{Requisicoes.buscarPelaSequence(andamento.requisicaoTransporte.sequence,popUp)}'" class="gt-btn-medium gt-btn-left" />
		#{/if}
		#{else}
		<input type="button" value="&{'views.botoes.voltar'}" onClick="javascript:location.href='@{Requisicoes.listarPAprovar()}'" class="gt-btn-medium gt-btn-left" />		
		#{/else}
	</div>
#{/form}
