#{extends 'main.html' /}

#{set title:'SIGA-Transporte' /}

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
#{if andamentos.size() > 0}
		<h2>Rela&ccedil;&atilde;o de Andamentos da requisi&ccedil;&atilde;o ${andamentos.get(0).requisicaoTransporte.sequence} </h2>
		#{include 'Requisicoes/menu.html' /}
		<div class="gt-content-box gt-for-table">     
		 	<table id="htmlgrid" class="gt-table" >
		    	<tr style="font-weight: bold;">
		    		<th width="10%">Data do Andamento</th>
		    	    <th width="10%">Estado</th>
		    		<th width="30%">Respons&aacute;vel</th>
			   		<th width="20%">Descri&ccedil;&atilde;o</th>
				</tr>
#{list andamentos, as:'andamento'}
			   	<tr id ="row_${andamento.requisicaoTransporte.id}">	
		    	    <td>${andamento.dataAndamento?.format('dd/MM/yyyy HH:mm')}</td>
		    		<td style="white-space: pre;">${andamento.estadoRequisicao}</td>
		    	    <td style="white-space: pre;">${andamento.responsavel?.siglaCompleta} - ${andamento.responsavel?.nomePessoaAI}</td>
		    		<td style="white-space: pre;">${andamento.descricao}</td>
				</tr>
#{/list}
		     </table>   
		</div>
#{/if}
#{else}
<h2>Rela&ccedil;&atilde;o de Andamentos</h2>
#{include 'Requisicoes/menu.html' /}
#{/else}
</div>
</div>